.trackingComponent {
  border-top: 1px solid ~colors.black_10;
  padding: 15px 0 15px 0;

  .fixedState {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    width: 65px;
    padding: 0 12px 0 12px;
    white-space: nowrap;
    .state {
      font-weight: 500;
    }
    .delayed {
      color: ~colors.app_error;
    }
  }
  .fixedEndState {
    width: 70px;
  }
  .activeState {
    color: ~colors.black;
  }
  .inactiveState {
    color: ~colors.black_50;
  }
  .arrowHolder {
    text-align: center;
  }
}

.message {
  background: #fff3ef;
  padding: 10px 12px 10px 12px;
  color: ~colors.black;
  line-height: 18px;
  span span:first-child {
    font-weight: 500;
  }
}

.arrow {
  margin: auto;
  transform: scale(0.6);
  composes: arrow from './../../../resources/sprites.css';
}

.arrowHolder {
  cursor: pointer;
}