.bottomBorder {
	border-bottom: 1px solid ~colors.border_blueberry_10;
	margin-bottom: 12px;
}

.claimInsiderPoints {
width: 100%;
padding: 12px 12px 8px 12px;
border-top: 1px solid ~colors.border_blueberry_10;
  .insiderIcon {
    display: inline-block;
    margin-right: 5px;
  }
  .insiderPointsStatusInfo {
    display: inline-block;
  }
  .insiderPoints {
    display: inline-block;
    color: ~colors.text_blueberry_80;
    margin-right: 5px;
    span {
    font-weight: 600;
    }
  }
  .insiderPointsHelp {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
  }
  .insiderPointsAction {
    display: inline-block;
    float: right;
    text-align: right;
    text-transform: uppercase;
    color: ~colors.blue_100;
    font-weight: 600;
    font-size: 13px;
  }
}