.card {
  margin: 20px 0px;
  text-align: center;
  padding:30px;
  background-color: ~colors.app_white;
  box-shadow: 0 0 4px rgba(40,44,63,0.08);
  color: ~colors.app_black;

  .errorImage {
    margin: 45px auto 25px auto;
    background: url(https://secureassets.myntassets.com/assets/images/2017/3/3/11488523304066-search404.png) no-repeat -2px 6px;
    width: 237px;
    height: 90px;
  }

  .primaryMessage {
    margin-bottom: 20px;
    color: ~colors.text_bluberry_50;
    font-weight: 800;
    text-transform: uppercase;
  }

  .secondaryMessage {
    margin: 10px 0px 15px 0px;
    color: ~colors.text_bluberry_50;
  }

  .showButton {
    position: relative;
    width: 160px;
    padding: 15px 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    border: 1px solid ~colors.border_color;
    font-weight: 800;
    color: ~colors.app_blue;
    cursor: pointer;
    text-transform: uppercase;

    .buttonLoader {
      visibility: visible;
      position: absolute;
      bottom: 13px;
      right: 0px;
      height: 18px;
      width: 19px;
      color: red;
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }
}

@media (min-width: 780px) {
  .card {
    margin: 0px auto;
    width: 65%;
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
    border: 1px solid ~colors.black_10;
  }
}

@media (min-width: 980px) {
  .card {
    width: 66%;
  }
}