.insiderBanner {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to left, ~colors.powder_blue, ~colors.lavender);
}
.header {
  padding: 10px 0px 8px 16px;
}
.insiderButton {
  width: 78px;
  padding: 15px 15px 15px 10px;
}

.title {
  color: ~colors.black_90;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.description {
  color: ~colors.text_blueberry;
  font-size: ~fonts.description;
}

.insiderButton {
  position: relative;
  padding: 5px 8px;
  width: 78px;
  margin: auto;
  margin-right: 15px;
  border-radius: 4px;
  text-align: center;
  justify-content: flex-start;
  font-size: 13px;
  font-weight: 600;
  color: ~colors.white;
  background-color: ~colors.watermelon;
  cursor: pointer;
}