.resendEmail {
  margin: 0px 10px;
  .info {
    font-size: 12px;
    color: ~colors.black_60;
  }

  .emailInput {
    display: inline-block;
    width: 70%;
    margin-right: 5%;
  }

  .button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    width: 25%;
    text-align: center;
    cursor: pointer;
    font-weight: 800;
    padding: 6px 8px 6px 8px;
    border: 1px solid ~colors.blue_30;
    border-radius: 5px;
    color: ~colors.app_blue;
    .buttonLoader {
      visibility: visible;
      position: absolute;
      bottom: 13px;
      top: 23%;
      right: 0%;
      height: 18px;
      width: 19px;
      color: red;
      transform: scale(0.7, 0.7);
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }

  .error {
    color: ~colors.app_error;
    font-size: 11px;
    margin-bottom: 10px;
  }

  .confirmation {
    color: ~colors.app_green;
    font-size: 11px;
    margin-bottom: 10px;
  }
}

@media (min-width: 780px) {
  .resendEmail {
    .emailInput {
      width: 350px;
      margin-right: 10px;
    }

    .button {
      width: 100px;
    }
  }
}