.priceBreakup {
  display: inline-block;
  font-size: 11px;
  line-height: 15px;
  color: ~colors.black_90;

  .price {
    margin: 5px 5px 0px 0px;
    font-weight: 800;
    color: ~colors.black_90;
    font-size: 14px;
  }
  .rupeeIcon{
    font-size: 12px;
  }
  .details {
    .component {
      border-top: 1px solid ~colors.border_color;
      text-align: right;
      padding: 5px 0px;

      .finalAmount {
        margin: 5px 0px;
        border-top: 1px solid ~colors.border_color;
        border-bottom: 1px solid ~colors.border_color;
        font-weight: 800;
        text-align: right;
        color: black;
      }
    }
  }

}
.topBorder {
  border-top: 1px solid ~colors.border_color;
  margin-top: 3px;
}
.priceBreakupExpanded {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: ~colors.text_light_grey;

  .price {
    margin: 5px 5px 0px 0px;
    font-weight: 800;
    color: ~colors.text_light_grey;
    font-size: 14px;
  }
  .key{
    float: left;
    margin-right: 20px;
  }
  .rupeeIcon{
    font-size: 14px;
  }
  .component {
    text-align: right;
    padding: 6px 0px;
  }
  .finalAmount {
    margin: 6px 0px 0px 0px;
    font-size: 14px;
    padding-top: 5px; 
    border-top: 1px solid ~colors.border_color;
    font-weight: 800;
    text-align: right;
    color: black;
  }

}