

@keyframes circle {
  0%{
    height: 1px;
    width: 1px;
    border-radius: 50%;
    bottom: -1px;
    right: -1px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    height: 4000px;
    width: 4000px;
    bottom: -2000px;
    right: -2000px;
    border-radius: 50%;
    opacity:0;
  }
}

@keyframes icon {
  0% {
    opacity: 0;
    margin: -170px 0 0 -170px;
    font-size: 340px;
    height: 340px;
    width: 340px;
    top: 50%;
    left: 50%;
  }

  30% {
    opacity: 1;
    margin: -100px 0 0 -100px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  50% {
    opacity: 1;
    margin: -100px 0 0 -100px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  100% {
    opacity: 1;
    width: 46px;
    height: 46px;
    font-size: 46px;
    margin: -23px 0 0 -23px;
    top : 98px;
    left: 50%;
  }
}

@keyframes iconApp {
  0% {
    opacity: 0;
    margin: -170px 0 0 -170px;
    font-size: 340px;
    height: 340px;
    width: 340px;
    top: 50%;
    left: 50%;
  }

  30% {
    opacity: 1;
    margin: -100px 0 0 -100px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  50% {
    opacity: 1;
    margin: -100px 0 0 -100px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  100% {
    opacity: 1;
    width: 46px;
    height: 46px;
    font-size: 46px;
    margin: -23px 0 0 -23px;
    top : 47px;
    left: 50%;
  }
}

@keyframes iconAndroid {
  0% {
    opacity: 0;
    margin: -169px 0 0 -168px;
    font-size: 340px;
    height: 340px;
    width: 340px;
    top: 50%;
    left: 50%;
  }

  30% {
    opacity: 1;
    margin: -99px 0 0 -98px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  50% {
    opacity: 1;
    margin: -99px 0 0 -98px;
    font-size: 200px;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
  }

  100% {
    opacity: 1;
    width: 46px;
    height: 46px;
    font-size: 46px;
    margin: -22px 0 0 -21px;
    top : 47px;
    left: 50%;
  }
}

@keyframes page {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.7;
  }
}

.hide {
  display: none;
}


.parent{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  background-color: white;
  animation: page 0.2s 1.8s 1 ease-out forwards;
 }
.circle {
  position: absolute;
  background-color: ~colors.melon;
  display: inline-block;
  animation: circle 0.6s 0.2s 1 ease-in-out forwards;
}



.tick {
  opacity: 0;
  animation: icon 1s 0.8s 1 ease-in-out forwards; 
  color: ~colors.melon;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  font-size: 300px;
  height: 300px;
  width: 300px;
}

.tickApp {
  animation: iconApp 1s 0.8s 1 ease-in-out forwards;
  &.android {
    animation: iconAndroid 1s 0.8s 1 ease-in-out forwards;
    margin: -147px 0 0 -147px;
  }
}


@media (min-width: 780px) {
  .parent {
    display: none;
  }
}


