.exchangeableItem {
  margin-top: 14px;
  background-color: ~colors.app_white;
  padding: 10px;

  .exchangeInfo {
    font-size: 13px;
    .info {
      margin: 6px 0px;
      .label {
        color: ~colors.blueberry_50;
      }
    }

    .link {
      color: ~colors.app_blue;
    }
  }
}


@media (min-width: 780px) {
  .exchangeableItem {
    margin-top: 24px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
  }
}