.crossSaleTitle{
  text-align: center;
  color: ~colors.text_blueberry;
  font-family: Whitney;
  font-size: ~fonts.app_medium;
  line-height: 25px;
  background: linear-gradient(to right, #fde3f3, #fef9e5);
  padding: 12px 15px;
  font-weight: 500;
  margin-top: -8px;
}

.itemContainer {
  display: inline-block;
  width: 100%;
}

.halfList {
  width: 50%;
  margin: 0px;
  &:nth-child(odd) {
    border-right: 1px solid ~colors.border_blueberry_10;
    float: left;
  };
  &:nth-child(even) {
    float: right;
    border-right: 1px solid ~colors.border_blueberry_10;
  }
}

.evenCrosssellList {
  ul>li:nth-last-child(-n+2)>div>div {
      border-bottom: none;
  }
}

.oddCrosssellList {
  ul>li:nth-last-child(-n+1)>div>div {
      border-bottom: none;
  }
}

.uList {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background: ~colors.app_white;
}

.crossSellFilter {
  background: linear-gradient(to right, ~colors.pale_rose, ~colors.off_cream);
  font-weight: 500;
  padding: 16px;
  .title {
    color: ~colors.app_black;
    font-size: ~fonts.app_medium;
    text-align: left;
    margin-bottom: 16px;
  }
}

.filterTags {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  .activeFilter,
  .inactiveFilter {
    flex: 0 0 auto;
    padding: 6px 8px;
    border: 1px solid ~colors.app_black;
    border-radius: 16px;
    text-align: center;
    color: ~colors.app_black;
    font-size: ~fonts.app_font;
    margin-right: 8px;
    min-width: 50px;
    &:last-child {
        margin-right: 12px;
    }
  }
  .activeFilter {
    background: ~colors.watermelon;
    color: ~colors.app_white;
    border: 1px solid ~colors.watermelon;
  }
}

.filterTags::-webkit-scrollbar,
.filterTags::-moz-scrollbar {
  display: none;
  background-color: transparent;
}

.filterTags {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

@media (min-width: 500px) {
  .halfList {
    width: 33.33%;
    margin: 0px;
    &:nth-child(3n+1) {
      float: left;
      border-left: 1px solid ~colors.border_blueberry_10;
      border-right: 1px solid ~colors.border_blueberry_10;
    };
    &:nth-child(3n+2) {
      border-right: 1px solid ~colors.border_blueberry_10;
      border-right: 1px solid ~colors.border_blueberry_10;
      float: left;
    };
    &:nth-child(3n+0) {
        float: left;
    };
  }    
}

/* Styles for More Styles when cross-sell items have filter */

.moreItems {
  padding: 16px;
  border-bottom: 1px solid ~colors.border_blueberry_10;
  background: ~colors.app_white;
  border-top: 1px solid ~colors.border_blueberry_10;
}

.categoryLink {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.category {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categoryDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 16px;
}

.categoryName {
  font-weight: 500;
  font-size: ~fonts.app_large;
  color: ~colors.text_blueberry_70;
  margin-bottom: 4px;
}

.categoryDesc {
  color: ~colors.text_bluberry_50;
}

.rightArrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}