.container {
  background: white;
  padding: 20px;
  position: fixed;
  z-index: 11;
  &.web {
    max-width: 450px;
    left: 35%;
    top: 20%;
  }
  &.mobile {
    top: 0;
    height: 100%;
  }
}

.shimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  opacity: .5;
  z-index: 10;
}

.inputField {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  &.showScanner {
    width: 75%;
  }
  .input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid ~colors.border_color;
    color: ~colors.text_blueberry;
    outline: none;
    padding-bottom: 5px;
    &:focus {
      border-bottom-color: ~colors.app_green;
    }
  }
  .errorInput {
    border-bottom-color: ~colors.app_error;
  }
  .inputHeader {
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.errorText {
  height: 20px;
  margin: 2px 0px 0px 0px;
  color: ~colors.app_error;
  font-size: 11px;
}

.scanner {
  border: 1px solid ~colors.blue_100;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 25px;
  width: 16%;
  height: 45px;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

.contentHeader {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  color: ~colors.black_90;
}

.contentImage {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

.contentText {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: ~colors.black_80;
}

.buttons {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 -5px 5px -7px black;
}

.button {
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}

.cancel {
  background: white;
}

.confirm {
  border-right: 1px solid ~colors.border_color;
  color: white;
  border: 0;
  background-color: ~colors.app_green;
  &.disabled {
    background: ~colors.black_30;
  }
}

.mobile .buttons {
  bottom: 0;
}