.exchangeOption {
  position: relative;
  display: block;
  padding: 10px;
  background-color: ~colors.notepadyellow;
  border: 1px solid ~colors.border_color;
  border-radius: 4px;

  .icon {
    display: inline-block;
    width: 45px;
    margin-right: 10px;
  }

  .info {
    display: inline-block;
    vertical-align: top;

    .heading {
      font-weight: 800;
    }

    .subHeading {
      margin: 6px 0px 14px 0px;
      font-size: 11px;
    }

    .button {
      font-weight: 800;
      color: ~colors.app_blue;
    }
  }

  .closeCard {
    position: absolute;
    cursor: pointer;
    top: 6px;
    right: 6px;
    color: ~colors.black_50;
  }
}