.orderInfo {
  background-color: ~colors.app_white;
  font-size: 13px;
  line-height: 18px;
  color: ~colors.black;
  padding: 12px;
  .label {
    color: ~colors.blueberry_50;
  }
}

@media(min-width: 780px) {
  .orderInfo {
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
  }
}