.marginTop {
    margin-top: 50px; 
}
.scroll {
    background-color: ~colors.text_blueberry;
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    height: 24px;
    top: 24px;
    right: 35%;
    left: 35%;
    width: 30%;
    border-radius: 15.5px;
    font-family: 'Whitney';
    font-size: 12px;
    color: white;
    border: none;
    opacity: 0.9;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}
.moveToTop {
    margin-left: 5px;
    font-size: 12px;
    display: none;
}

.scroll .moveToTop {
    display: inline;
}
.mobileDevice {
    top: 74px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.9; }
}