.seoContainer {
  padding: 15px 0;
  color: ~colors.black_80;
}

.title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: ~colors.black_70;
}

.descContainer {
  font-size: 14px;
  line-height: 18px;
  margin: 20px 0;
  color: ~colors.black_60;

  p:first-child {
    margin-top: 0px;
  }
  
  strong {
    color: ~colors.black_70;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
  }
}

.descContainer a {
  font-weight: 500;
  color: ~colors.black_60;
}

.toggleRead {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: ~colors.blue;
}

@media all and (min-width: 750px) {
  .descContainer {
    column-count: 3;
    column-gap: 20px;
  }
}
