.footerContainer {
	font-family: Whitney;
  max-width: 980px;
  margin: auto;
  min-width: 980px;
}

strong {
	font-family: Whitney-SemiBold, Whitney;
	color: ~colors.ultra_dark;
  font-weight: 500;
}

/*.base {
  padding-top: 40px;
}*/

.shopLinks {
  font-family: Whitney;
  float: left;
  width: 155px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.shopLinks > p {
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
}

.usefulLinks {
  font-family: Whitney;
  width: 15%;
  float: left;
}

.usefulLinks > p {
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
}

.shopLinks > a, .usefulLinks > a{
  text-decoration: none;
  color: ~colors.black_70;
  display: block;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
  cursor: pointer;
  line-height: normal;
}

.shopLinks > a:hover, .usefulLinks > a:hover {
  text-decoration: underline;
}

.shopLinks > a:nth-child(2), .usefulLinks > a:nth-child(2) {
	padding-top: 14px;
}

.shopLinks > a:hover > .superscript {
  text-decoration: none;
}

.superscript {
  padding: 0px 5px;
  background: red;
  border-radius: 90px;
  color: white;
  font-weight: 900;
  margin: 0px 0px 0px 5px;
  font-size: 12px;
}

.appExperience {
	display: inline-block;
  vertical-align: top;
  padding-right: 20px;
  width: 360px;
  font-size: 15px;
  line-height: 19px;
  float: left;
  padding-top: 13px;
}

.genericInfo {
	height: 300px;
	/*margin-top: 40px;*/
}

.appExperience > p:nth-child(1) {
	font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
	color: ~colors.ultra_dark;
	padding: 0;
  margin: -3px 0px 0px 0px;
  padding-bottom: 25px;
}

.appExperience > p {
	color: ~colors.black_70;
}

.downLinkContainer {
  display: inline-block;
}

.androidDownLink {
  margin-right: 10px;
  composes: downloadAndroidApp from '../../../resources/sprites.css';
}

.iOSDownLink {
  margin-right: 10px;
  composes: downloadiOSApp from '../../../resources/sprites.css';
}

.windowsDownLink {
  composes: downloadWindowsApp from '../../../resources/sprites.css';
}

.navigation {
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
}

.appBanners {
	composes: appBanners from '../../../resources/sprites.css';
}

.promises {
  width: 250px;
  float: left;
}

.section {
  margin: 15px 0px 30px 0px;
  color: ~colors.black_70;
}

.original {
  composes: original from '../../../resources/sprites.css';
  display: inline-block;
  float: left;
  margin-left: -10px;
  margin-right: 10px;
}

.return {
  composes: return from '../../../resources/sprites.css';
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.delivery {
  composes: delivery from '../../../resources/sprites.css';
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.popularSearch hr {
  border: 1px;
  height: 1px;
  background-color: ~colors.black_10;
}

.pSearchTitle {
	position: absolute;
  margin-top: -15px;
  background: ~colors.bberry;
  padding-right: 10px;
  color: ~colors.ultra_dark;
  font-weight: 500;
  font-size: 12px;
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
}

.pSearchlinks {
	margin-top: 30px;
}

.pSearchlinks > a {
	text-decoration: none;
  font-family: Whitney;
  color: ~colors.black_70;
  font-size: 15px;
  line-height: 25px;
}

.pSearchlinks > a:after {
  content: "|";
  margin-left: 3px;
  // color: ~colors.black_10;
}

.pSearchlinks > a:nth-last-child(1):after {
  content: "";
}

.or {
	font-size: 12px;
}

.gInfoTitle {
  font-family: Whitney;
	font-size: 12px;
}

.fInfoSection {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.contact {
  flex: 1;
  color: ~colors.black_70;
}

.contact > a {
  text-decoration: none;
  font-family: Whitney;
  color: ~colors.black_70;
}

.contact > a:hover {
  text-decoration: underline;
}

.greetings {
	composes: greetings from '../../../resources/sprites.css';
	margin: auto;
	float: left;
  left: 0px;
  right: 0px;
  position: absolute;
  margin-top: 8px;
}

.copywrite {
  flex: 1;
  color: ~colors.black_50;
}

.horizontalLine {
	position: absolute;
	left: 0px;
	right: 0px;
	border-top: 1px solid #D4D5D9;
}

.keepInTouch {
	font-size: 12px;
	margin-bottom: 10px;
  font-weight: 500;
}

.facebook {
	margin: 0px 15px 0px 0px;
	zoom: 0.9;
  composes: footer-facebook from '../../../resources/sprites.css';
}

.twitter {
	margin: 0px 15px 0px 0px;
	zoom: 0.9;
  composes: footer-twitter from '../../../resources/sprites.css';
}

.youtube {
	margin: 0px 15px 0px 0px;
	zoom: 0.9;
	composes: footer-youtube from '../../../resources/sprites.css';
}

.instagram {
	margin: 0px 15px 0px 0px;
	zoom: 0.9;
	composes: footer-instagram from '../../../resources/sprites.css';
}

.flipkartCompany {
	flex: 1;
	text-align: end;
}

.flipkartCompany > a {
	color: ~colors.black_50;
}

.gyanContainer {
	line-height: 18px;
	color: ~colors.black_50;
	font-size: 14px;
	border-top: 1px solid ~colors.black_10;
  margin: 15px 0px 0px 0px;
	h1, h3 {
		font-size: 14px;
	}
}

.gyanContainer strong{
  color: ~colors.black_80 !important;
}

.gyanContainer a{
	color: ~colors.black_70;
}

.gyanContainer a:hover {
	text-decoration: underline;
}

.gyanContainer h1, h3 {
	margin-bottom: -10px;
  margin-top: 30px;
}

@media all and (max-width: 700px) {
	.gyanContainer {
		padding: 0px 0px 30px 0px;
	}
}
