.productRatingCard {
  border: 1px solid #edeeef;
  background-color: ~colors.app_white;
  margin-bottom: 10px;
  color: ~colors.black_90;
  max-width: 450px;

  .productInfo {
    display: block;
    margin: 5px 0px;
    padding: 10px;

    .thumbnail {
      display: inline-block;
      img {
        height: 80px;
        width: 60px;
        border: 1px solid #edeeef;
      }
    }

    .info {
      display: inline-block;
      width: 80%;
      vertical-align: top;
      margin: 0px 0px 0px 15px;
      font-size: 15px;

      .brand {
        color: ~colors.black_90;
        font-weight: 500;
        margin-bottom: 3px;
      }

      .productName {
        font-size: 14px;
        margin-top: 0px;
        word-wrap: break-word;
      }
    }

    .rateBox {
      margin-top: 15px;
      .reviewText {
        display: inline-block;
        color: ~colors.black_80;
        font-weight: 600;
        margin-top: 3px;
        float: right;
        text-align: right;
        width: 32%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
        &.active {
          color: ~colors.melon;
          cursor: pointer;
        }
      }
    }
  }
}