ul.radioBlock {
  margin: 0px 0px 0px -40px;
}

.inputRow {
  margin: 5px 0px;
  position: relative;

  .customLabel {
    cursor: pointer;
    text-transform: capitalize;

    .customRadio {
      visibility: hidden;
      position: absolute;
    }
    /* DEFAULT <i> STYLE */
    i{
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width:  14px;
      height: 14px;
      border-radius: 50%;
      transition: 0.2s;
      box-shadow: inset 0 0 0 8px #fff;
      border: 1px solid gray;
      background: gray;
    }

    /* HOVER <i> STYLE */
    &:hover > i{
      box-shadow: inset 0 0 0 3px #fff;
      background: gray;
    }

    /* (RADIO CHECKED) <i> STYLE */
    .customRadio:checked + i{
      border: 1px solid ~colors.melon;
      box-shadow: inset 0 0 0 3px #fff;
      background: ~colors.melon;
    }
  }

  .description {
    margin: 3px 0px 15px 20px;
    font-size: 13px;
    color: ~colors.blueberry_50;
  }
}

.inputRow.deselect {
  input, i {
    display: none;
  }
  .description {
    margin-left: 0;
  }
}
