.inputRow {
  position: relative;
  margin: 40px 0px 0px 0px;

  &.lg {
    margin: 40px 0px 0px 0px;
    input[type=text], input[type=password], input[type=number], input[type=tel]{
      font-size: 16px;
    }
    input[type=text]:focus + label, input[type=password]:focus + label, input[type=number]:focus + label, input[type=tel]:focus + label {
      top: -20px;
    }

    .label {
      font-size: 16px;
    }
    .labelTop {
      top: -20px;
      font-size: 12px;
    }
  }

  &.md {
    margin: 30px 0px 0px 0px;
    input[type=text], input[type=password], input[type=number], input[type=tel]{
      font-size: 15px;
    }
    input[type=text]:focus + label, input[type=password]:focus + label, input[type=number]:focus + label, input[type=tel]:focus + label {
      top: -18px;
    }
    .label {
      font-size: 15px;
    }
    .labelTop {
      top: -18px;
      font-size: 12px;
    }
  }

  &.sm {
    margin: 20px 0px 0px 0px;
    input[type=text], input[type=password], input[type=number], input[type=tel]{
      font-size: 15px;
    }
    input[type=text]:focus + label, input[type=password]:focus + label, input[type=number]:focus + label, input[type=tel]:focus + label {
      top: -15px;
    }
    .label {
      font-size: 15px;
    }
    .labelTop {
      top: -15px;
      font-size: 12px;
    }
  }

  input[type=text], input[type=password], input[type=number], input[type=tel]{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid ~colors.border_color;
    color: ~colors.text_blueberry;
    outline: none;
    padding-bottom: 5px;
    transition: all 0.40s ease-in-out;
  }

  input[type="text"]:disabled, input[type=number]:disabled, input[type=tel]:disabled{
    color: ~colors.black_50;
    background-color: white;
  }

  input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=tel]:focus {
    border-bottom: 1px solid ~colors.app_green;
  }

  input[type=text]:focus + label, input[type=password]:focus + label, input[type=number]:focus + label, input[type=tel]:focus + label {
    color: ~colors.app_green;
    font-size: 12px;
    top: -20px;
    transition: all 0.40s ease-in-out;
  }

  .overlayInfo {
    position: absolute;
    top: -8px;
    right: 0px;
    pointer-events: none;
  }

  .label {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: ~colors.text_bluberry_50;
    pointer-events: none;
  }

  .labelTop {
    position: absolute;
    font-size: 12px;
    top: -20px;
    left: 0px;
    pointer-events: none;
    color: ~colors.text_bluberry_50;
  }

  .inputError {
    border-bottom: 1px solid ~colors.app_error !important;
  }

  .error {
    visibility: hidden;
    height: 20px;
    margin: 2px 0px 0px 0px;
    color: ~colors.app_error;
    font-size: 12px;
  }

  .visible {
    visibility: visible;
  }
}