.imageCaraousal {
  display: block;
  margin: 20px 0px;
  overflow-x: auto;
  white-space: nowrap;

  .eachImage {
    display: inline-block;
    height: 108px;
    width: 80px;
    border: 1px solid #edeeef;
    margin-right: 8px;
    border-radius: 4px;
  }
}