.returnForm {
  .orderRedirectButton {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    margin: 10px 30px;
    font-weight: 800;
    padding: 10px;
    border: 1px solid ~colors.app_blue;
    color: ~colors.app_blue;
  }

  .buttons { 
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    background-color: white;
    box-shadow: 0px 1px 5px 5px rgba(40, 44, 63, 0.07);

    &.confirm {
      box-shadow: none;
      border-top: 1px solid ~colors.black_10;
    }

    .button {
      display: inline-block;
      cursor: pointer;
      width: 50%;
      text-transform: uppercase;
      padding: 15px;
      text-align: center;
      font-weight: 800;

      &:last-child {
        color: white;
        background-color: ~colors.melon;
      }

      &.disabled {
        background-color: ~colors.black_30;
      }

      .buttonLoader {
        visibility: visible;
        margin-left: 14px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        width: 19px;
        color: red;
        background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
      }
    }

    &.android {
      position: fixed;
      .buttonLoader {
        position: absolute;
        top: 30%;
        bottom: 13px;
        right: 8%;
      }
    }
  }
}

.iphoneBottomMargin {
  clear: both;
  width: 100%;
  height: 2px;
}

.hide {
  display:none;
}


.actionError {
  display: none;
}

@media (min-width: 780px) {
  .actionError {
    padding: 0px 10px;
    color: red;
    margin-bottom: 14px;
    height: 10px;
    display: block;
  }
  .returnForm {
    .orderRedirectButton {
      margin: 16px 0px;
      width: 300px;
    }

    .buttons {
      box-shadow: 0px 0px 0px 0px;
      position: relative;
      width: 60%;
      &.confirm {
        box-shadow: none;
        border-top: none;
      }
      .button {
        width: 48%;
        border: 1px solid ~colors.border_color;
        border-radius: 4px;
      }
      .button:last-child {
        border: 0px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 780px) {
  .returnForm {
    .buttons {
      position: fixed;
      bottom: 0px;
    }
  }
}

