.exchangeAddress {
  padding: 10px;
  background-color: ~colors.app_white;
  border-top: solid 1px ~colors.black_10;

  .loader {
    margin: 30px auto 20px auto;
    width: 44px;
    height: 10px;
    display: block;
    padding: 10px 0px 10px 0px;
    background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
  }

  .heading {
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
  }

  .button {
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    border: 1px solid ~colors.blue_30;
    border-radius: 5px;
    color: ~colors.app_blue;
    margin-top: 10px;
  }
}

@media (min-width: 780px) {
  .exchangeAddress {
    border-top: solid 1px ~colors.black_10;
    margin-bottom: 0px;
  }
}