.shimmer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 14;
  &.mobile {
    background-color: ~colors.shimmer; 
  }
  &.web {
    background-color: transparent;
  }
}

.halfCard {
  position: fixed;
  z-index: 15;
  background-color: white;
  border-radius: 4px;

  &.web {
    bottom: 7%;
    left: 37%;
    width: 390px;
    border: 1px solid #eaeaec;
    .localities {
      max-height: 110px;
    }
  }

  &.mobile {
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}

.localities {
  max-height: 200px;
  overflow: auto;
}

.locFields {
  padding: 24px 20px 0;
}

.locHeader {
  font-size: 16px;
  font-weight: 500;
  color: ~colors.button_text;
  margin-bottom: 18px;
}

.halfCard.mobile .locFields .locationInput {
  margin-top: 18px;
}

.halfCard.web .locFields .locationInput {
  margin-top: 26px;
}

.locText {
  color: ~colors.button_text;
  font-size: 14px;
  vertical-align: middle;
}

.locLabel {
  margin-bottom: 18px;
}

.buttons {
  width: 100%;
  background-color: white;
}

.mobile .buttons {
  border-top: 1px solid ~colors.border_color;
}

.web .buttons {
  text-align: center;
}

.button {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
}

.web .button {
  width: 40%;
  margin: 15px;
  border: 1px solid #eaeaec;
  padding: 8px;
  border-radius: 5px;
}

.web .button:last-child {
  color: ~colors.melon;
}

.mobile .button {
  width: 50%;
  padding: 15px;
}

.mobile .button:last-child {
  color: white;
  background-color: ~colors.app_green;
}
