.returnAddress {
  padding: 12px;

  .loader {
    margin: 30px auto 20px auto;
    width: 44px;
    height: 10px;
    display: block;
    padding: 10px 0px 10px 0px;
    background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
  }

  .heading {
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
  }

  .button {
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    border: 1px solid ~colors.blue_30;
    border-radius: 5px;
    color: ~colors.app_blue;
    margin-top: 10px;
  }

  .fadeAddress {
    color: #bfc0c6;
    font-size: 13px;

    .notEligible{
      color: #ff5722;
      font-style: italic;
      marging-top: 5px;
    }
  }

  &.pickup {
    border-top: 1px solid ~colors.black_10;
  }
}



.pickupSlotWrapper {
  margin: 12px 0px;

  .pickupSlot {
    cursor: pointer;
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid ~colors.black_10;
    border-radius: 4px;
    padding: 12px;
    /* margin-bottom: 3px; */
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
    color: ~colors.text_blueberry;

    .changeSlot {
      font-size: 13px;
      font-weight: 600;
      color: ~colors.link;
      float : right;
    }


  }

}



.section {
  background-color: ~colors.app_white;

  .inputWrapper {
    padding: 10px;
    .heading {
      font-weight: 800;
      color: ~colors.black_90;
      font-size: 15px;
    }

    .reasonMessage {
      margin: 10px 0px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}

@media (min-width: 780px) {
  .section {
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}