body {
  font-family: Whitney;
}

@-moz-document url-prefix() {
  .mLogo {
    margin: 5px 0 !important;
  }
}

a {
  text-decoration: none;
  color: ~colors.ultra_dark;
}

small {
  color: ~colors.black_70;
  font-size: 10px;
}

.active {
  font-family: Whitney-SemiBold, Whitney !important;
  color: ~colors.black_90 !important;
  font-weight: 500 !important;
}

.container {
  width: 100%;
  height: 50px;
}

.header {
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 4px 0px ~colors.black_20;
  z-index: 9;
  background: ~colors.white;
  position: fixed;
}

.left {
  height: inherit;
  position: absolute;
  left: 0px;
  z-index: 1;
}

.right {
  height: inherit;
  position: absolute;
  right: 0px;
}

.leftNavBar {
  composes: hamburger from '../../../resources/sprites.css';
  display: inline-block;
  float: left;
  margin: 17px;
}

.mLogo {
  composes: mlogo from '../../../resources/sprites.css';
  transform: scale(0.7);
  margin: 5px 0px;
  display: inline-block;
  float: left;
}

.mSearch {
  background-position: -754px 0px;
  display: inline-block;
  margin: 14px 0;
  float: right;
  width: 21px;
  height: 21px;
}

.searchContainer {
  width: 100%;
  z-index: 9;
  position: fixed;
  background: ~colors.white;
}

.searchBarContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 0px;
  height: 50px;
  position: fixed;
  top: 50px;
  padding-top: 5px;
  background-color: ~colors.white;
  box-shadow: 0 1px 4px 0px ~colors.black_20;
}

.searchInput{
  position: absolute;
  width: 80%;
  left: 0px;
  display: inline-block;
  margin: 0;
  font-family: Whitney;
  margin: 0px 20px 0px 15px;
  border: 1px solid ~colors.black_20;
  height: 18px;
  padding: 10px;
  border-right: none;

}

.searchInput:focus {
  outline: none;
}

.searchInput::-webkit-input-placeholder {
  font-family: Whitney;
}

.searchInput:-moz-placeholder {
  font-family: Whitney;
}

.searchInput::-moz-placeholder {
  font-family: Whitney;
}

.searchInput:-ms-input-placeholder {
  font-family: Whitney;
}

.searchBtn {
  text-align: center;
  display: inline-block;
  width: 11%;
  right: 0px;
  position: absolute;
  margin: 0;
  padding: 8px 10px 8px 10px;
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
  color: ~colors.ultra_dark;
  border: 1px solid ~colors.black_20;
  height: 22px;
  margin-right: 13px;
  background-color: ~colors.white;
}

.searchListContainer {
  top: 95px;
  position: fixed;
  // top: 50px;
  position: absolute;
  background: ~colors.white;
  box-shadow: 0 1px 4px 0px ~colors.black_20;
}

.mUser {
  composes: user from '../../../resources/sprites.css';
  margin: 14px 20px 14px 20px;
  display: inline-block;
  float: right;
}

.mBag {
  composes: bag from '../../../resources/sprites.css';
  margin: 14px 20px 14px 0px;
  display: inline-block;
  float: right;
}

.itemCount {
  position: absolute;
  margin: 0px 0px 0px 9%;
  padding: 0px 5px 0px 5px;
  color: ~colors.white;
  font-family: Whitney-SemiBold, Whitney;
  font-weight: 500;
  top: 9px;
  // width: 13px;
  height: 18px;
  border-radius: 3px;
  font-size: 13px;
}

.grey {
  background-color: ~colors.black_70;
}

.melon {
  background-color: ~colors.melon;
}

.subHeader {
  top: 50px;
  height: 50px;
  position: absolute;
}

.sideNav {
  display: none;
  width: 0%;
  opacity: 0;
}

@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.sideNavClicked {
  overflow: scroll;
  width: 75%;
  animation: slide ease-out .2s;
  height: 100%;
  position: fixed;
  top: 0px;
  background: ~colors.white;
  z-index: 99;
  display: block;
  // padding: 30px 15px 0px 30px;
}

.sideNavClicked ul {
  margin: 0;
  padding: 0;
  background-color: ~colors.white;
}

.overlay {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}

.show {
  display: block;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.8s;
}

.hide {
  display: none;
}

.navHeading {
  border: none;
  padding-left: 30px;
}

.navSubHeading {
  // display: inline-block;
  // position: fixed;
  // top: 0px;
  background: ~colors.white;
  width: 100%;
  height: 50px;
  float: left;
  border-bottom: 1px solid ~colors.black_20;
  z-index: 1;
  // animation: slide ease-out .2s;
}

.backBtn {
  composes: back from '../../../resources/sprites.css';
  padding: 10px 0px 10px 0px;
  float: left;
  margin: 19px 10px 0px 20px;
}

.navBackContainer {
  float: left;
  width: 20%;
  font-family: Whitney;
  height: 35px;
  padding: 10px 0px 10px 0px;
  font-size: 15px;
}

.navHeadingText {
  padding: 25px 0px 10px 0px;
  float: right;
  font-size: 12px;
  width: 80%;
  float: right;
  font-family: Whitney;
  height: 35px;
  float: left;
  color: ~colors.black_70;
  position: absolute;
  left: 20px;
}

.navSubHeadingText {
  font-family: Whitney-SemiBold, Whitney;
  padding: 18px 0px 10px 10px;
  font-size: 15px;
  font-weight: 500;
  width: 60%;
}

.navMenuContainer {
  display: inline-block;
  padding: 13px 0px;
  width: 100%;
  font-weight: 500;
  border-bottom: 1px solid ~colors.black_10;
}

.navMenuContainer:nth-child(5) {
  border: none;
}

.navMenuItems {
  font-family: Whitney-SemiBold, Whitney;
  font-size: 16px;
  width: 220px;
  font-weight: 500;
  float: left;
}

.navFwd {
  padding: 10px 0px;
  right: 10px;
  position: absolute;
  margin: -8px 0px 0px 0px;
  transform: rotate(-90deg);
  composes: navFwd from '../../../resources/sprites.css';
}

.navAccTitle {
  display: none;
  height: 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: ~colors.black_70;
  padding: 25px 20px 0px 20px;
  border-top: 1px solid ~colors.black_10;
}

.navAccItems {
  width: 90%;
  padding: 15px 0px 10px 20px;
  font-family: Whitney;
  font-size: 15px;
  float: left;
  color: ~colors.black_90;
}

.navAccItemsHidden {
  display: none;
}

.catValue {
  font-family: Whitney;
  text-decoration: none;
  color: ~colors.black_70;
}

.catContainer {
  width: 100%;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #EAEAEC;
}

.catExpansion {
  display: inline-block;
  float: right;
  font-size: 20px;
  margin: auto;
  font-family: Whitney;
  padding-right: 8px;
  color: ~colors.black_70;
}

.minus {
  transform: scale(2.0, 1.0);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.catList {
  padding: 10px;
}

.catSubValue {
  font-family: Whitney;
  display: block;
  padding: 10px 0px 10px 0px;
  margin-left: 15px;
  border-bottom: 1px solid #EAEAEC;
  width: 95%;
  color: ~colors.black_70 !important;
}

.sugContainer{
  display: inline-block;
  width: 92%;
  padding: 10px 0px;
  color: ~colors.ultra_dark;
  border-bottom: 1px solid ~colors.black_10;
  margin-left: 15px;
}

.sugIcon{
  width: 20px;
  margin-left: 5px;
  float: left;
  display: inline-block;
  composes: search from '../../../resources/sprites.css';
}

.footerLinks {
  height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 30px 0px;
  z-index: -1;
}

.fLinks > span {
  padding: 0px 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: ~colors.black_50;
}

.fLinks:nth-child(1):after {
  content: "";
  color: ~colors.black_40;
}

.fLinks:nth-child(2){
  display: none;
}

.sugLabel{
  width: 60%;
  display: inline-block;
  font-family: Whitney;
  padding: 0px 0px 0px 15px;
}

.sugCount{
  font-family: Whitney;
  width: 13%;
  float: right;
  color: ~colors.black_60;
  text-align: right;
  margin-right: 5px;
}

.subCatContainer {
  background-color: ~colors.white;
  padding: 55px 15px 0px 20px;
}

.sbContainer {
  height: 60px;
  background: ~colors.white;
  padding: 10px;
  border-bottom: 1px solid ~colors.bberry_10;
}

.sbInfo {
  width: 25%;
  display: inline-block;
}

.sbTimer {
  width: auto;
  display: inline-block;
  vertical-align: top;
  float: right;
}

.slotTimer {
  padding-left: 5px;
  width: 100% !important;
}

.sbContent {
  margin: 5px auto;
  font-size: 12px;
  color: ~colors.black_70;
}

.sbInfo .sbContent:last-child {
  padding-top: 3px;
}

.sbInfo .sbContent:first-child {
  font-weight: 600;
}

.timeContainer {

}

.timer {
  color: ~colors.dark_pink_10;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  text-align: left;
  min-width: 19px;
  font-weight: 600;
}

.days {
  padding-right: 5px;
}

@media (min-width: 320px) and (max-width: 568px) {
  .searchBtn {
    font-size: 13px;
    padding: 11px 9px 5px 10px
  }
}

@media (min-width : 768px) and (max-width : 1024px)  {
  .searchInput {
    width: 90%;
  }
  .sbTimer {
    text-align: right;
  }
}
