.userConfirmation {
  background-color: ~colors.app_white;
  padding: 10px;
  position: fixed;
  bottom: 46px;
  width: 100%;
  box-shadow: 0px 1px 5px 5px rgba(40, 44, 63, 0.07);
}

@media (min-width: 780px) {
  .userConfirmation {
    margin-top: 0px;
    margin-bottom: 14px;
    position: inherit;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}