.card {
  margin-top: 14px;
  background-color: ~colors.app_white;
  padding: 10px;

  .cardHeading {
    font-weight: 800;
    color: ~colors.black_90;
    margin-bottom: 10px;
  }

  .label {
    margin: 10px 0 10px 0;
    color: ~colors.blueberry_50;
  }

  .notServiceable {
    color: ~colors.text_dark_orange;
    font-size: 13px;
    margin-top: 5px;
  }

  .sizeRadioButton {
    display: inline-block;
    border-radius: 90px;
    min-width: 35px;
    height: 35px;
    box-sizing: border-box;
    line-height: 1;
    border: 1px solid #697071;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 10px 3px;
    font-size: 13px;
    margin-right: 10px;
    font-weight: 500;
  }

  .selected {
    background: #607071;
    color: white;
  }

  .unavailableMessage {
    margin-top: 20px;
    color: ~colors.blueberry_50;
  }

  .disabled {
    color: #adaeaf;
    border-color: #adaeaf;
  }

  .disabled::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #adaeaf;
    position: absolute;
    top: 50%;
    margin-left: -3px;
  }

  .oosReturnBlock {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .oosReturnHeader {
    margin-bottom: 5px;
    color: #f2c210;
  }

  .returnBtn {
    margin: 15px 0 0;
    padding: 15px 0;
    border-radius: 5px;
    color: ~colors.app_green;
    border: 1px solid ~colors.app_green;
    font-weight: 500;
    text-align: center;
  }

  .returnLink {
    color: ~colors.app_green;
  }
}

@media (min-width: 780px) {
  .card {
    margin-top: 24px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);

    .oosReturnBlock {
      width: 80%;
    }
  }
  
}