.card {
  margin-top: 14px;
  background-color: ~colors.app_white;
  padding: 10px;

  .cardHeading {
    font-weight: 800;
    color: ~colors.black_90;
    margin-bottom: 10px;
  }

  .reasonMessage {
    margin: 10px 0px;
    font-size: 13px;
  }
}

@media (min-width: 780px) {
  .card {
    margin-top: 24px;
  }
}