.button {
  display: inline-block;
}

.overlay {
  background: rgba(0, 0, 0, 0.69);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.dialogContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 100%;
  background: white;
  z-index: 12;
}

.title {
  padding: 20px 0 0 16px;
  font-size: 16px;
  font-weight: 800;
}

.content {
  margin: 10px 10px 35px 15px;
  word-wrap: break-word;
  font-size: 14px;
  color: ~colors.black_60;
}

.buttonsContainer {
  border-top: 0.5px solid ~colors.black_10;
  position: relative;
}

.buttonBlock {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 15px 0px;
}

.button {
  font-weight: 600;
  display: inline-block;
}

.button0 {
  color: ~colors.black_70;
}

.button1 {
  color: ~colors.melon;
}

.buttonBlue {
  color: ~colors.blue_100;
}

.buttonLight {
  color: ~colors.black_10;
}

.buttonLoader {
  background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
}

.buttonDivider {
  border-left: 0.5px solid ~colors.black_10;
  width: 1px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 10px;
}

.button:active {
  color: ~colors.black_70;
}

@media (min-width:760px) {
  .dialogContainer {
    position: absolute;
    top: 35%;
    left: 38%;
    width: 350px;
  }
}