.orderRedirectButton {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  margin: 10px 30px;
  font-weight: 800;
  padding: 10px;
  border: 1px solid ~colors.app_blue;
  color: ~colors.app_blue;
}

.buttons {
  width: 100%;
  left: 0;
  bottom: 0;
  display: block;
  background-color: white;
  box-shadow: 0px 1px 5px 5px rgba(40, 44, 63, 0.07);

  .button {
    display: inline-block;
    cursor: pointer;
    width: 50%;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-weight: 800;

    .buttonLoader {
      visibility: visible;
      position: relative;
      margin-left: 14px;
      display: inline-block;
      vertical-align: middle;
      height: 18px;
      width: 19px;
      color: red;
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }

  &.android {
    position: fixed;
    .buttonLoader {
      position: absolute;
      top: 30%;
      bottom: 13px;
      right: 8%;
    }
  }

  .actionError {
    padding: 5px 10px;
    color: red;
  }
}

.button:last-child {
  color: white;
  background-color: ~colors.app_green;
  &.disabled {
    background-color: ~colors.black_30;
  }
}

@media (min-width: 780px) {
  .orderRedirectButton {
    margin: 16px 0px;
    width: 300px;
  }

  .buttons {
    box-shadow: 0px 0px 0px 0px;
    position: relative;
    width: 60%;
    .button {
      width: 48%;
      border: 1px solid ~colors.border_color;
      border-radius: 4px;
    }
    .button:last-child {
      border: 0px;
      margin-left: 10px;
    }
  }
}