.page {
  background-color: ~colors.border_blueberry_5;
  &.white {
    background-color: white;
  }
}

.transactionPage {
  background-color: ~colors.border_blueberry_5;
  &.white {
    background-color: white;
  }
}

body {
  background-color: ~colors.border_blueberry_5;
}

.loader {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 44px;
  height: 10px;
  display: block;
  padding: 10px 0px 10px 0px;
  background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
}

.component {
  padding: 10px;
  font-size: ~fonts.app_font;
}

.myntraCredit {
  font-size: ~fonts.app_font;
  background: ~colors.border_blueberry_5;
}

.fullWidthComponent {
  font-size: ~fonts.app_font;
}

.segment-heading {
  margin: 25px 0px 10px 10px;
  font-weight: 600;
  color: ~colors.black_90;
}

.reviewSuccessNotify {
  position: fixed;
  left: 50%;
  width: 280px;
  margin-left: -140px;
  top: 81px;
  z-index: 100;
}

.pageMessage {
  background: #fff3ef;
  padding: 10px 12px 10px 12px;
  color: ~colors.black;
  line-height: 18px;
  &.odMessage {
    margin-bottom: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none
}

:not(input):not(textarea):not(button) {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}

@media (min-width: 480px) {
  .loader {
    position: initial;
    margin: 290px auto;
  }
}

@media (min-width: 780px) {
  body {
    background-color: ~colors.app_white;
  }
  .page {
    margin: 10% 5%;
    min-height: 650px;
    background-color: ~colors.app_white;
  }
  .transactionPage {
    margin: 8% auto;
    max-width: 980px;
  }
  .component,
  .myntraCredit {
    width: 71%;
    display: inline-block;
    margin: 15px;
  }
  .myntraCredit {
    background: #ffffff;
  }
  .fullWidthComponent {
    padding: 10px;
    width: 71%;
    display: inline-block;
    margin: 5px;
  }
   :not(input):not(textarea):not(button) {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
  }
}

@media (min-width: 980px) {
  .page {
    margin: 8% auto;
    max-width: 980px;
  }
  .transactionPage {
    margin: 8% auto;
    max-width: 980px;
  }
  .component,
  .myntraCredit {
    width: 76%;
    margin: 15px;
  }
  .myntraCredit {
    background: #ffffff;
  }
}
