// My Myntra requirements.

.mymyntraSprite {
  background: url(https://assets.myntassets.com/assets/images/2017/11/15/11510709489145-mymyntra.png) no-repeat;
  background-size: 500px 200px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
       (min--moz-device-pixel-ratio: 2),    /* Older Firefox browsers (prior to Firefox 16) */
       (min-resolution: 2dppx),             /* The standard way */
       (min-resolution: 192dpi){
  .mymyntraSprite {
    background-image: url(https://assets.myntassets.com/assets/images/2017/11/15/11510709547465-mymyntra2x.png) no-repeat;
  }
}

.mymyntraCouponSprite {
  background: url(https://assets.myntassets.com/assets/images/2017/6/11/11497167746999-coupons.png) no-repeat;
  display: inline-block;
}

/* write review related */
:global(.myntraweb-review-sprite) {
  background: url('https://assets.myntassets.com/assets/images/retaillabs/2019/5/3/3f89d082-5e19-4431-ac57-657a735c73ae1556877682464-mymyntra2x.png');
  /* background-size: 1404px 105px; */
  display: inline-block;
}

.galleryDesktop {
  background-position: -18px -446px;
  width: 57px;
  height: 56px;
}

.AddPhotos {
  background-position: -80px -398px; 
  width: 196px;
  height: 61px;
}

.blackCross {
  background-position: -18px -382px; 
  width: 52px;
  height: 52px;
}

.galleryMobile {
  background-position: -22px -320px; 
  width: 44px;
  height: 47px;
}

.camera {
  background-position: -18px -257px; 
  width: 51px;
  height: 42px;
}

.giftImage {
  background-position: -12px -11px;
  width: 141px;
  height: 100px;
  composes: mymyntraSprite;
}

.tag-express {
  background-position: -372px -96px;
  width: 118px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-valueShipping {
  background-position: -208px -162px;
  width: 164px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-tryAndBuy {
  background-position: -372px -63px;
  width: 118px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-freeGift {
  background-position: -372px -129px;
  width: 118px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-global {
  background-position: -372px -162px;
  width: 118px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-exchangeOrder {
  background-position: -76px -162px;
	width: 124px;
  height: 28px;
  composes: mymyntraSprite;
}

.tag-preOrder {
  background-position: -76px -129px;
	width: 124px;
	height: 28px;
  composes: mymyntraSprite;
}

.myntraLogo {
  background-position: -40px -174px;
	width: 27px;
  height: 19px;
  composes: mymyntraSprite;
}

.crossSign {
  background-position: -280px -13px;
  width: 14px;
  height: 14px;
  composes: mymyntraSprite;
}

.arrow {
  background-position: -165px -10px;
  width: 24px;
  height: 15px;
  composes: mymyntraSprite;
}

.starsImage {
  background-position: -218px -12px;
  width: 48px;
  height: 67px;
  composes: mymyntraSprite;
}

.socialImage {
  width: 30px;
  height: 30px;
  composes: mymyntraSprite;
}

.pointsWarningImage {
  background-position: 0px -579px;
	width: 32px;
	height: 32px;
  composes: mymyntraCouponSprite;
}

.plusSymbol {
  background-position: -225px -309px;
	width: 14px;
	height: 12px;
  composes: mymyntraCouponSprite;
}

.minusSymbol {
  background-position: -248px -314px;
	width: 9px;
	height: 2px;
  composes: mymyntraCouponSprite;
}

.customRadio {
  background-position: -366px -12px;
	width: 16px;
	height: 16px;
  composes: mymyntraSprite;
}

.customRadioSelected {
  background-position: -384px -12px;
	width: 16px;
	height: 16px;
  composes: mymyntraSprite;
}

.dropDownIcon {
  background-position: -369px -42px;
	width: 10px;
	height: 5px;
  composes: mymyntraSprite;
}

/* Coupon Page Related Images */
.couponBackGroundImage {
  background-position: -362px -380px;
  height: 90px;
  width: 75px;
  composes: mymyntraCouponSprite;
}

.downCouponArrow {
  background-position:-141px -310px;
  width: 13px;
	height: 7px;
  composes: mymyntraCouponSprite;
}

.couponImage {
  background-position: 0px 0px;
  width: 101px;
	height: 50px;
  composes: mymyntraCouponSprite;
}

.searchImage {
  background-position: -108px 0;
  height: 82px;
  width: 76px;
  composes: mymyntraCouponSprite;
}

.bagImage {
  background-position: -185px 0;
  height: 70px;
  width: 86px;
  composes: mymyntraCouponSprite;
}

.shoppingBagImage {
  background-position: -277px 0;
  height: 140px;
  width: 125px;
  composes: mymyntraCouponSprite;
}

.applyCouponImage {
  background-position: -405px 0;
  height: 110px;
  width: 126px;
  composes: mymyntraCouponSprite;
}

.finalBagImage {
  background-position: -536px 0;
  height: 135px;
  width: 125px;
  composes: mymyntraCouponSprite;
}

.downCouponArrow {
  background-position:-141px -310px;
  width: 13px;
	height: 7px;
  composes: mymyntraCouponSprite;
}


// Header and Footer Requirement.
:global(.myntraweb-sprite) {
  background: url('https://secureassets.myntassets.com/assets/images/2017/3/20/11490006558206-sprite20mar17.png');
  background-size: 1404px 105px;
  display: inline-block;
}

:global(.myntraweb-footer-sprite) {
  background: url('https://assets.myntassets.com/assets/images/2017/2/3/11486103069298-footerSprite.png');
  background-size: 706px 49px;
  display: inline-block;
}

:global(.myntraweb-header-sprite) {
  background: url('https://assets.myntassets.com/assets/images/retaillabs/2018/10/22/684e1017-ad32-47eb-aff2-98bee803667e1540198414803-sprite1.png');
  display: inline-block;
}

.headerUser {
  background-position: -603px -117px;
	width: 33px;
	height: 32px;
}

.headerWishlist {
  background-position: -650px -117px;
	width: 24px;
	height: 32px;
}

.headerBag {
  background-position: -688px -117px;
	width: 32px;
	height: 32px;
}

.bag {
  width: 18px;
  height: 20px;
  background-position: -145px 0;
}

.user {
  width: 17px;
  height: 20px;
  background-position: -813px 0;
}

.whiteRightArrow {
  background-position: -2284px -21px;
  width: 20px;
  height: 16px;
}

.whiteWishlist {
  background-position: -2688px 0px;
  width: 24px;
  height: 32px;
}

.whiteBag {
  background-position: -2283px -40px;
  width: 23px;
  height: 22px;
}

.footer-facebook {
  background-position: -2023px 0px;
  width: 20px;
  height: 21px;
}

.lightTick {
  background-position: -1097px 0px;
  width: 12px;
  height: 10px;
}

.moreColors {
  width: 40px;
  height: 40px;
  background-position: -1337px 0;
}

.footer-twitter {
  background-position: -2045px 0px;
  width: 23px;
  height: 21px;
}

.footer-instagram {
  background-position: -1392px 0px;
  width: 21px;
  height: 20px;
}

.footer-youtube {
  background-position: -1361px 0px;
  width: 31px;
  height: 20px;
}

.three-colview-normal {
  width: 19px;
  height: 13px;
  background-position: 0 0;
}

.three-colview-selected {
  width: 19px;
  height: 13px;
  background-position: -19px 0;
}

.four-colview-selected {
  width: 21px;
  height: 13px;
  background-position: -38px 0;
}

.four-colview {
  width: 21px;
  height: 13px;
  background-position: -59px 0;
}

.addnewbutton {
  width: 24px;
  height: 24px;
  background-position: -80px 0;
}

.alertbig {
  width: 24px;
  height: 24px;
  background-position: -104px 0;
}

.alertsmall {
  width: 17px;
  height: 17px;
  background-position: -128px 0;
}

.checkbignormal {
  width: 24px;
  height: 24px;
  background-position: -163px 0;
}

.checkbigselected {
  width: 24px;
  height: 24px;
  background-position: -187px 0;
}

.checkboxnormal {
  width: 14px;
  height: 14px;
  background-position: -211px 0;
}

.checkboxselected {

  width: 14px;
  height: 14px;
  background-position: -225px 0;
}

.checkpincode {

  width: 23px;
  height: 19px;
  background-position: -239px 0;
}

.chevron-right {

  width: 8px;
  height: 12px;
  background-position: -262px 0;
}

.deptselected-icon {
  width: 16px;
  height: 16px;
  background-position: -270px 0;
}

.gototop {
  width: 40px;
  height: 40px;
  background-position: -286px 0;
}

.group {
  width: 22px;
  height: 22px;
  background-position: -326px 0;
}

.hamburger {
  width: 17px;
  height: 12px;
  background-position: -348px 0;
}

.hideshowpanel {
  width: 18px;
  height: 8px;
  background-position: -365px 0;
}

.ic-facebook {
  width: 28px;
  height: 28px;
  background-position: -383px 0;
}

.modalclose {

  width: 25px;
  height: 23px;
  background-position: -411px 0;
}

.modalclosesmall {

  width: 13px;
  height: 12px;
  background-position: -436px 0;
}

.modalnext {

  width: 13px;
  height: 24px;
  background-position: -449px 0;
}

.myntralogo {

  width: 112px;
  height: 36px;
  background-position: -462px 0;
}

.mlogo {
  background-position: -461.5px 0px;
  width: 50px;
  height: 37px;
}

.myntraicon {

  width: 68px;
  height: 47px;
  background-position: -574px 0;
}

.offercheck {
  width: 19px;
  height: 19px;
  background-position: -642px 0;
}

.optionsnormal {

  width: 24px;
  height: 24px;
  background-position: -661px 0;
}

.optionsselected {

  width: 24px;
  height: 24px;
  background-position: -685px 0;
}

.radionormal {
  width: 14px;
  height: 14px;
  background-position: -709px 0;
}

.radioselected {
  width: 14px;
  height: 14px;
  background-position: -723px 0;
}

.refresh {

  width: 16px;
  height: 20px;
  background-position: -737px 0;
}

.search {
  width: 21px;
  height: 21px;
  background-position: -754px 0;
}

.triangle-1 {

  width: 6px;
  height: 4px;
  background-position: -772px 0;
}

.updowncursor {

  width: 35px;
  height: 35px;
  background-position: -778px 0;
}

.whitetick {
  width: 16px;
  height: 13px;
  background-position: -830px 0;
}

.darkTick {
  width: 16px;
  height: 13px;
  background-position: -830px -12px;
}

.pause-small {
  width: 25px;
  height: 25px;
  background-position: -897px 0px;
}

.play-small {
  width: 25px;
  height: 25px;
  background-position: -990px 0px;
}

.play-big {
  background-position: -2027px 0px;
  width: 142px;
  height: 137px;
}

.preorder-strip {
  width: 60px;
  height: 12px;
  background-position: 313px -41px;
}

.zoomcursor {
  width: 35px;
  height: 35px;
  background-position: -846px 0;
}

.navFwd {
  background-position: -366px 0px;
  width: 17px;
  height: 15px;
}
.caret {
  background-position: -780.5px -32.5px;
  width: 12px;
  height: 10px;
}

.headerLogo {
  width: 53px;
  height: 36px;
  background-position: -462px 0px;
}

.logo {
  width: 112px;
  height: 40px;
  background-position: -462px 0px;
}

.back {
  background-position: -880px 0px;
  width: 17px;
  height: 16px;
}

.android {
  background-position: -543px 0px;
  width: 21.5px;
  height: 27.5px;
}

.ios {
  background-position: -565px 0px;
  width: 22px;
  height: 27.5px;
}

.windows {
  background-position: -589px 0px;
  width: 22px;
  height: 27.5px;
}

.appBanners {
  background-position: -2px 0px;
  width: 340px;
  height: 49px;
}

.original {
  background-position: -421.5px 0px;
  width: 47.5px;
  height: 40px;
}

.return {
  background-position: -469.5px 0px;
  width: 34.5px;
  height: 40px;
}

.delivery {
  background-position: -504.5px 0px;
  width: 38px;
  height: 40px;
}

.greetings {
  background-position: -343px 0px;
  width: 78.5px;
  height: 7px;
}

.downloadAndroidApp {
  background-position: -2.5px -1.5px;
  width: 106px;
  height: 42.5px;
}

.downloadiOSApp {
  background-position: -119px -1.5px;
  width: 106px;
  height: 43px;
}

.downloadWindowsApp {
  background-position: -236px -1.5px;
  width: 106px;
  height: 43px;
}

.star {
  background-position: -270px -1px;
  width: 15px;
  height: 15px;
}

.downArrow {
  background-position: -367px -1px;
  width: 15px;
  height: 10px;
}

.arrowRight {
  width: 8px;
  height: 12px;
  background-position: 1039px 0;
}

.emptyIcon {
  width: 96px;
  height: 105px;
  background-position: -1163px 0;
}

.remove {
  width: 14px;
  height: 14px;
  background-position: -1083px 0;
}

.sort {
  background-position: -2524px -79px;
  width: 18px;
  height: 20px;
}

.sortSelected {
  background-position: -2508px 26px;
  width: 17px;
  height: 20px;
}

.filter {
  background-position: -2491px -78px;
  width: 17px;
  height: 20px;
}

.filterSelected {
  background-position: -2542px 27px;
  width: 17px;
  height: 20px;
}

.tuner {
  background-position: -2666px -40px;
  width: 44px;
  height: 32px;
}

.landscape {
  background-position: -2741px 0px;
  width: 67px;
  height: 67px;
}

.greyWishlist {
  background-position: -2531px 0px;
  width: 18px;
  height: 25px;
}

.wishlist {
  background-position: -2564px 0px;
  width: 19px;
  height: 25px;
}

.isWishlisted {
  background-position: -2549px 0px;
  width: 18px;
  height: 25px;
}

.multiColour {
  background-position: -2492px -58px;
  width: 30px;
  height: 20px;
}

.preorder {
  width: 70px;
  height: 14px;
  background-position: -2492px -42px;
}

.close {
  background-position: -2342px 5px;
  width: 16px;
  height: 20px;
}






