.confirmedItem {
  
  &.desktop {
    padding: 0 30px 0;
  }

  .leftSection {
    float: left;
    width: 46%;
  }

  .rightSection {
    float: right;
    text-align: left;
    width: 46%;
  }

  .verticalSeparator {
    border-left: 1px solid ~colors.black_10;
    width: 1px;
    height: 64%;
    vertical-align: sub;
    position: absolute;
    left: 50%;
    display: inline-block;
  }

  text-align: center;
  .icon{
    margin: 10px auto;
  }

  .heading {
    font-size: 16px;
    margin: 10px 0px 10px;
    color: ~colors.melon;
    font-weight: 500;
    font-size: 20px;
  }

  .subHeading {
    color: ~colors.blueberry_60;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .desc {
    color: ~colors.blueberry_60;
  }

  &.mobile .desc {
    padding: 0 30px 0;
  }

  .subBlock {
    margin-bottom: 20px;
  }

  .thumbnail {
    position: relative;
    margin: 10px auto;
    img {
      border: 1px solid #edeeef;
      height: 108px;
      width: 80px;
    }
  }

  .info {
    font-size: 13px;
    color: ~colors.text_light_grey;

    .blackText {
      color: ~colors.black_90;
    }
  }

  .taggedTick {
    position: absolute;
    left: 47%;
    top: 30%;
  }

  .tick {
    font-size: 45px;
    color: ~colors.melon;
  }

  .fitAssist {
    margin: 10px 0px;
    padding: 30px 10px;
    border-top: 0.5px solid ~colors.border_color;
    border-bottom: 0.5px solid ~colors.border_color;
    color: ~colors.text_light_grey;
    font-size: 13px;

    .blackText {
      color: ~colors.black_90;
    }
  }
}