.item {
  color: ~colors.black_90;
  margin-top: 10px;

  .product-info {
    display: block;
    margin: 5px 0px;

    .thumbnail {
      display: inline-block;
      img {
        border: 1px solid #edeeef;
        height: 108px;
        width: 80px;
      }
    }

    .info {
      display: inline-block;
      margin: 5px 0px 5px 12px;
      width: 72%;
      vertical-align: top;
      color: ~colors.text_light_grey;

      .brand {
        color: ~colors.black_90;
        font-weight: 500;
      }

      .productName {
        margin-top: 5px;
      }

      .productName, .size {
        color: ~colors.blueberry_60;
      }

      .price {
        margin-top: 10px;
        font-weight: 800;
        color: ~colors.black_90;
      }
    }
  }

  &.actionable {
    .product-info {
      .thumbnail {
        img {
          height: 108px;
          width: 80px;
        }
      }
    }

    .info {
      margin: 5px 0px 5px 12px;
    }
  }

  &.nonActionable {
    .product-info {
      .thumbnail {
        img {
          height: 64px;
          width: 48px;
        }
      }

      .info {
        font-size: 11px;
        .productName {
          margin-top: 0px;
        }
        .reason {
          font-size: 13px;
          padding: 5px 0px;
          color: ~colors.black;
        }
      }
    }
  }

  &.confirmed {
    .product-info {
      .thumbnail {
        img {
          height: 64px;
          width: 48px;
        }
      }
    }
  }
}
