.errorToast {
    background-color: ~colors.salmon_100;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0%;
    color: white;
    font-size: 14px;
    border: none;
    text-align: justify;
    padding: 8px 16px;
}
.sucessToast {
    background-color: white;
    width: 40%;
    height: 30px;
    position: fixed;
    bottom: 24px;
    right: 30%;
    left: 30%;
    border-radius: 15.5px;
    font-size: 12px;
    color: black;
    border-style: unset;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.40);
    }
.text {
    font-family: 'Whitney';
}
.boldText {
    font-weight: 500;
}