.item {
  color: ~colors.black_90;

  .product-info {
    display: block;
    margin: 8px 0px;

    .thumbnail {
      display: inline-block;
      width: 80px;
      position: relative;
      img {
        position: relative;
        border: 1px solid #edeeef;
        height: 108px;
        width: 80px;
      }
    }

    .info {
      display: inline-block;
      margin: 5px 0px 5px 12px;
      width: 72%;
      vertical-align: top;
      color: ~colors.text_light_grey;

      .brand {
        color: ~colors.black_90;
        font-weight: 500;
      }

      .productName {
        margin: 4px 0px;
        overflow: hidden;
        white-space: no-wrap;
        text-overflow: ellipsis;
      }

      .productName, .size {
        color: ~colors.blueberry_60;
      }

      .price {
        margin-top: 4px;
        font-weight: 800;
        color: ~colors.black_90;
      }

      .quantitySelector {
        margin: 4px 0px;
      }

      .counter {
        border: 1px solid ~colors.border_color;
        border-radius: 4px;
        width: 80px;
        display: inline-block;
        background-color: ~colors.black_5;

        .quantityCounter {
          padding: 0px 10px;
          font-weight: 800;
          color: ~colors.app_blue;
        }

        .counterButton {
          color: ~colors.app_blue;
          cursor: pointer;
          padding: 0px 8px;
          font-weight: 800;
          width: 20%;

          &.disabled {
            color: ~colors.border_color;
          }
        }
      }

      .quantityMessage {
        font-weight: 800;
        color: ~colors.black;
      }
    }

    .tag {
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: bottom right;
      transform: scale(0.6);
    }
  }
}

.isFree {
  position: absolute;
  right: 1px;
  top: -6px;
  transform-origin: bottom right;
  transform: scale(0.6);
  composes: tag-freeGift from './../../../resources/sprites.css';
}

@media (min-width: 780px) {
  
}
