.pickupSlotModal {
  .shimmer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: ~colors.shimmer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 15%;
    left: 8%;
    width: 84%;
    height: 70%;
    background-color: ~colors.border_blueberry_5;
    text-align: left;
    box-sizing: border-box;
    z-index: 13;
    color: #535766;

    .modalHeading {
      background-color: white;
      font-weight: 600;
      padding: 24px;
      font-size: 14px;
      border-bottom: 1px solid ~colors.border_color;
    }

    .modalClose {
      font-size: 16px;
      font-weight: 900;
      float: right;
    }

    .modalContent {
      width: 100%;
      overflow: auto;
      height:auto;
      max-height: 90%;


      .slotWrapper {
        .slotDay {
          height: 45px;
          padding: 12px 24px 12px 24px;
          line-height: 21px;
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase;
          border-top: 1px solid ~colors.black_10;
          background-color: ~colors.ultra_light;

          &.noSlot {
            text-decoration: line-through;
          }

          .noSlotInfo {
            font-size: 11px;
            color: ~colors.black_60;
            font-weight: normal;
            float: right;
            display: inline;
            text-transform: none;
          }
        }

        .slotEntry {
          height: 53px;
          padding: 16px 24px 16px 24px;
          line-height: 21px; 
          font-size: 15px;
          font-weight: normal;
          color: ~colors.black_80;
          background-color: ~colors.white;
          border-bottom: 1px solid ~colors.black_5;
          cursor: pointer;

          .dot {
            height: 4px;
            width: 4px;
            background-color: ~colors.black_20;
            border-radius: 50%;
            display: inline-block;
            margin-right:8px;
            vertical-align: middle;
            margin-top: -3px;
          }

          .tick {
            font-size: 32px;
            float: right;
            margin-right: -6px;
            margin-top: -6px;
          }

          &.inActive {
            text-decoration: line-through;
            cursor: default;
          }

          &.selected {
            color: ~colors.melon;
            font-weight: 600;
            cursor: default;
          }

          &:last-child{
            border-bottom: 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .pickupSlotModal {
    .modal {
      top: 10%;
      left: 35%;
      width: 450px;
      height: 80%;
    }
  }
}