
.thumbnail {
  display: inline-block;
  width: 83px;
  height: 115px;
  img {
    border: 1px solid ~colors.border_blueberry_10;
    height: 108px;
    width: 80px;
  };
}

.info {
  display: inline-block;
  padding: 0px 0px 5px 12px;
  width: 65%;
  vertical-align: top;
  color: ~colors.text_light_grey;

  .brand {
    color: ~colors.black_90;
    font-weight: 500;
  }

  .productName {
    margin-top: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    color: ~colors.blueberry_60;
  }
  .size {
    color: ~colors.blueberry_60;
  }
  .price {
    margin-top: 4px;
    display: block;
    vertical-align: top;
    margin-right: 10px;
    font-weight: 800;
    color: ~colors.black_90;
  }
  .productstrike {
    text-decoration: line-through;
    color: ~colors.black_50;
    margin: 0 5px;
    font-size: 14px;
  }
  .productDiscountPercentage {
    white-space: pre-line;
    color: ~colors.green;
    font-weight: 800;
    font-size: 14px;
  }
  .claimInsiderPoints {
    height: 36px;
    width: 100%;
    padding: 4px 0px 0px 0px;
    display: inline-block;
  
  }
  .insiderIcon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .insiderPoints {
    display: inline-block;
    color: ~colors.text_blueberry_80;
    margin-right: 5px;
    span {
      font-weight: 600;
    }
  }

}
.container {
  margin: 10px 0;
}
