.popUp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.backdropStyle {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: rgba(40, 44, 63, 0.8);
  z-index: 10;
}

.photosOption {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 104px;
  position: absolute;
  bottom: 0;
}

.gallery {
  float: right;
  width: 50%;
  height: 24px;
}

.galleryMobileIcon {
  vertical-align: top;
  zoom: 0.5;
  composes: galleryMobile from '../../../resources/sprites.css';
}

.cameraIcon {
  composes: camera from '../../../resources/sprites.css';
  vertical-align: top;
  display: inline-block;
  zoom: 0.5;
}

.camera {
  float: left;
  width: 50%;
  border-right: 1px solid #eaeaec;
  box-sizing: border-box;
  height: 24px;
}

.iconsTitle {
  font-size: 12px;
  font-weight: 500;
  color: #535766;
  margin-left: 8px;
}

.subContainer {
  height: 48px;
  padding: 12px 0;
}

.title {
  padding: 16px 0;
  display: block;
  font-family: Whitney;
  font-size: 14px;
  font-weight: 600;
  color: #535766;
}

.hideDisplay {
  display: none;
}