.popUp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .backdropStyle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(40, 44, 63, 0.8);
    z-index: 10;
  }
  
  .cancel {
    float: left;
    width: 40%;
    border-right: 1px solid #eaeaec;
    box-sizing: border-box;
    height: 24px;
    cursor: pointer;
  }

  .ok {
    float: right;
    width: 60%;
    height: 24px;
    cursor: pointer;
  }
  
  .container {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    width: 400px;
    height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -52px 0 0 -200px;
    border-radius: 4px;
    padding: 10px;
  }
  
  .containerMobile {
      composes: container;
      width: 300px;
      margin: -60px 0 0 -150px;
      height: 90px;
      padding: 10px;
  }
  
  .iconsTitle {
    font-size: 12px;
    font-weight: 500;
    color: #535766;
    margin-left: 8px;
  }
  
  .title {
    display: block;
    font-family: Whitney;
    font-size: 13px;
    color: #535766;
  }
  
  .hideDisplay {
    display: none;
  }