.errorToast {
  display: block;
  animation: toast 5s ease 0s 1 normal forwards;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: ~colors.text_dark_orange;
}

@keyframes toast {
  0% {
    bottom: 0;
  }

  10% {
    bottom: 46px;
  }
  70% {
    bottom: 46px;
  }

  100% {
    bottom: 0px;
  }
}

.successToast {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: ~colors.green;
}


@media (min-width: 780px) {
  .errorToast {
    display: none;
  }
}