.tracker {
  display: inline-block;
  width:  ~"calc(100% - 135px)";
  text-align: center;
  position: relative;

  .progressBar {
    background-color: ~colors.black_10;
    border-radius: 5px;
    position: relative;
    margin-left: 12px;
    width:  ~"calc(100% - 24px)";
    margin-top: -5px;
    .trackingLine {
      background-color: ~colors.app_green;
      border-radius: 5px;
    }
    .dottedTrackingLine {
      position: absolute;
      top: 0;
      border: 1px dashed ~colors.app_green;
    }
  }
  .circleMarker {
    border-radius: 50px;
    width: 12px;
    height: 12px;
    border: 2px solid ~colors.border_color;
    position: absolute;
    left: -9px;
    top: -10px;
  }
  .achieved {
    border: 2px solid ~colors.app_green;
  }
  .initial {
    left: 0px;
  }
  .final {
    left: ~"calc(100% - 12px)";
  }
  .filled {
    background-color: ~colors.app_green;
    border: none;
    width: 6px;
    height: 6px;
    top: -2px;
  }
  .currentStateLabel {
    position: absolute;
    top: -23px;
    line-height: 15px;
    font-weight: 500;
    font-size: 13px;
    color: ~colors.black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 145px;
  }
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1),
  screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px),
  screen 
  and (min-device-width: 1200px)  { 
  .currentStateLabel {
    max-width: 50% !important;
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
  .currentStateLabel {
    max-width: 60% !important;
  }
}