.changeAddress {
  position: relative;
  .shimmer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: ~colors.shimmer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .card {
    position: fixed;
    text-align: center;
    overflow: hidden;
    background-color: ~colors.border_blueberry_5;
    text-align: left;
    box-sizing: border-box;
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    .addNewAddress {
      cursor: pointer;
      background-color: white;
      color: ~colors.app_blue;
      text-transform: uppercase;
      font-weight: 800;
      padding: 15px 10px;
      margin-bottom: 10px;
    }

    .modalHeader {
      display: none;
      background: white;
      margin-bottom: 10px;
      padding: 20px 16px 20px;

      .caHeader {
        display: inline-block;
        font-weight: 800;
        text-transform: uppercase;
        color: #696e79;
      }

      .addButton {
        font-weight: 800;
        padding: 6px;
        border: 1px solid #A8B5E7;
        border-radius: 5px;
        color: #526cd0;
        display: inline-block;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 15px;
      }
    }

    .loader {
      margin: 250px auto 20px auto;
      width: 44px;
      height: 10px;
      display: block;
      padding: 10px 0px 10px 0px;
      background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
    }

    .modalError {
      color: ~colors.app_error;
      text-align: center;
    }

    .noAddresses {
      text-align: center;
      margin-top: 50%;
      font-size: 18px;
      color: ~colors.text_blueberry;
    }

    .renderAddress {
      overflow-y: auto;
      height: 100%;
      padding-bottom: 120px;
      overflow-y: auto;
    }

    .buttons {
      position: fixed;
      width: 100%;
      border-top: 1px solid #d4d5d9;
      background-color: white;
      left: 0;
      bottom: 0;
      display: block;

      .button {
        cursor: pointer;
        text-align: center;
        display: inline-block;
        width: 50%;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 800;

        &:last-child {
          color: white;
          background-color: ~colors.melon;
        }

        &.disabled {
          background: ~colors.black_30;
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .changeAddress {
    .card {
      top: 15%;
      left: 35%;
      height: 80%;
      width: 450px;

      .addNewAddress {
        display: none;
      }

      .modalHeader {
        display: block;
      }

      .buttons {
        position: absolute;
      }
    }
  }
}
