.sidebar {
  vertical-align: top;
  display: none;
  border-right: 1px solid ~colors.border_color;
  box-shadow-right: 1px 1px 5px ~colors.border_shadow;
  text-align: left;
  padding: 0px 25px 0px 0px;
  font-size: 15px;
}

@media(min-width: 780px) {
  .sidebar {
    display: inline-block;
  }
}