.iconWrapper {
  cursor: pointer;
  display: inline-block;

  &.tooltip{
    left: 0px;
  }

  &.noPadding {
    top: 0px;
  }

  .tick {
    font-size: 14px;
    position: absolute;
    left: -18px;
    bottom: -1px;
    color: ~colors.verified_green;
  }

  .verified {
    font-size: 12px;
    color: ~colors.verified_green;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .activePointsInfo {
    min-width: 75%;
    max-width: 100%;
    position: absolute;
    right: -11px;
    font-size: 12px;
    bottom: 11px;
    height: auto;

    .triangle {
      position: relative;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid black;
      float: right;
      right: 17px;
      top: -8px;
    }

    .infoText {
      background: black;
      color: white;
      padding: 12px;
      border-radius: 2px;
      line-height: 1.5;
      margin-top: -89px;
      font-size: 12px;
      bottom: 13px;
      position: absolute;
    }
  }
}