.card {
  position: relative;
  margin-top: 12px;
  background-color: ~colors.app_white;
  padding: 12px;
  text-align: center;

  .heading {
    font-weight: 800;
    margin: 18px auto 0px auto;
    font-size: 16px;
    color: ~colors.black;
  }

  .subHeading {
    margin: 8px auto 0px auto;
    color: ~colors.black_80;
  }

  .inputWrapper {
    display: block;

    .input {
      display: inline-block;
      text-align: left;
      width: 160px;
      font-weight: 800;
    }

    .verifyButtonv1 {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 30px 0px 0px 20px;
      width: 100px;
      padding: 10px;
      background: ~colors.app_error;
      color: ~colors.app_white;
      font-weight: 800;
      border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .verifyButtonv2 {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 30px auto 0px auto;
    width: 150px;
    padding: 10px;
    background: ~colors.app_error;
    color: ~colors.app_white;
    font-weight: 800;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    .arrow {
      position: absolute;
      display: block;
      top: 10px;
      right: 14px;
      transform: scaleX(-1);
      font-size: 16px;
      font-weight: 800;
    }
  }

  .closeCard {
    position: absolute;
    top: 12px;
    right: 12px;
    color: ~colors.black_50;
  }
}

@media (min-width: 780px) {
  .card {
    margin-top: 16px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);

    .inputWrapper {
      .verifyButtonv1 {
        float: none;
        margin-left: 10px;
      }
    }
  }
}