.itemContainer {
    &.noBorder {
        border-bottom: none;
    }
    background-color: white;
    border-bottom: 1px solid ~colors.border_blueberry_10;
    .image {
        width: 100%;
        align-items: center;
    }
    .info {
        background-color: white;
        padding: 5px 8px 0px 8px;
        width: 80%;
        float: left;
    }
    .wishList {
        background-color: white;
        width: 20%;
        float: right;
        display: inline-block;
        padding: 5px 12px;
        .icon {
            float: right;
            font-size: 18px;
            border: 0px;
            padding: 0px;
            background-color: white;
        }
    }
    .brandName {
        font-size: 14px;
        margin-bottom: 2px;
        color: ~colors.text_blueberry;
    }
    .list {
        padding: 0px;
    }
    .name {
        font-family: 'Whitney';
        color: ~colors.text_bluberry_50;
        margin-bottom: 4px;
        font-size: 12px;
        height: 15px;
    }
}
button:focus {outline:0;};
.priceDiv {
    padding: 5px 8px 8px 8px;
    margin-bottom: 6px; 
    height: 75px;
    .price {
        font-size: 14px;
        line-height: 20px;
        color: ~colors.button_text;
        font-weight: 500;
        margin-right: 4px;
    }
    .mrp {
        color: ~colors.blueberry_60;
        font-size: 12px;
        text-decoration: line-through;
        margin-right: 4px;
    }
    .discount {
        color: ~colors.orange;
        font-size: 12px;
    }
}
.textOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}