.nonReturnableItems {
  margin-top: 8px;
  background-color: ~colors.app_white;
  padding: 10px;
}

@media (min-width: 780px) {
  .nonReturnableItems {
    margin-top: 16px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}