
.lineDropdownWrapper {
  margin: 12px 0px;
  .linelabel {
    color: ~colors.text_light_grey;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .lineDropdown {
    cursor: pointer;
    position: relative;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid ~colors.black_10;
    border-radius: 4px;
    padding: 10px;
    /* margin-bottom: 3px; */
    margin: 0px;

    &.closed {
      height: auto;
    }

    .inputRow {
      position: relative;
      border-top: 1px solid ~colors.black_5;

      .customLabel {
        cursor: pointer;
        text-transform: capitalize;
        display: block;
        padding: 10px 0px;
        color: ~colors.black;
      }

      .customRadio {
        visibility: hidden;
        position: absolute;
      }

      .customRadio:checked {
        color: red;
      }
    }
  }

  .inputRow:first-child {
    border-top: 0px;
  }

  .error {
    visibility: hidden;
    height: 20px;
    margin: 2px 0px 0px 0px;
    color: ~colors.app_error;
    font-size: 11px;
  }

  .visible {
    visibility: visible;
  }

  .dropDownIcon {
    position: absolute;
    top: 11px;
    right: 8px;
    color: ~colors.app_blue;
  }
}