.tileImage {
  min-width: 40px;
  min-height: 40px;
}

.tileContents {
  display: flex;
  padding-left: 12px;
}

.cardContents a {
  border-bottom: 1px solid ~colors.blueberry_10;
  padding: 12px;
}

.cardContents a:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.tileItem {
  align-self: center;
  padding-left: 12px;
}

.tileItemHeader {
  font-size: ~fonts.xl;
  letter-spacing: 0;
}

.tileItemSubHeader {
  font-size: ~fonts.app_font;
  letter-spacing: 0;
  color: ~colors.blueberry_50;
}

.arrow {
  float: right;
  align-self: center;
  margin-left: auto;
}

.arrowIcon {
  color: ~colors.blueberry_20;
  font-weight: ~fontWeight.bold;
}

.tileBg {
  background-color: ~colors.light_mint_green;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  border: 1px solid ~colors.blueberry_20;
}
