.returnReasons {
  margin-top: 14px;
  margin-bottom: 20px;
  background-color: ~colors.app_white;

  .inputWrapper {
    padding: 10px;
    .heading {
      font-weight: 800;
      color: ~colors.black_90;
      font-size: 15px;
    }

    .reasonMessage {
      margin: 10px 0px;
      font-size: 13px;
      line-height: 16px;
    }
  }
}

@media (min-width: 780px) {
  .returnReasons {
    margin-top: 24px;
    margin-bottom: 14px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}