.eachBankAccount {
  padding: 10px;

  .accountDetails {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 4px;
    font-size: 12px;

    .row {
      margin: 5px 0px;
      .label {
        display: inline-block;
        width: 100px;
      }
    }

    .bankLogo {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  &.account {
    .selector {
      width: 0%;
    }
  }

  &.accountList {
    cursor: pointer;
    margin: 10px;
    border: 1px solid ~colors.border_color;
    border-radius: 4px;
    background: white;

    .selector {
      display: inline-block;
      width: 6%;
      vertical-align: top;
      margin-top: 3px;
    }

    .accountDetails {
      width: 90%;
    }
  }
}

@media (min-width: 780px) {
  .eachBankAccount.account {
    .accountDetails {
      .row {
        .label {
          width: 200px;
        }
      }
    }
  }
}

/* -------------------------------------- Bank Logos ------------------------------------ */
.default {
  composes: default from './../../../resources/Sprites/paymentSprite.css';
}

.axis {
  composes: axis from './../../../resources/Sprites/paymentSprite.css';
}

.citi {
  margin-right: 6px;
  composes: citi from './../../../resources/Sprites/paymentSprite.css';
}

.hdfc {
  composes: hdfc from './../../../resources/Sprites/paymentSprite.css';
}

.icici {
  composes: icici from './../../../resources/Sprites/paymentSprite.css';
}

.kotak {
  composes: kotak from './../../../resources/Sprites/paymentSprite.css';
}

.kotak {
  composes: axis from './../../../resources/Sprites/paymentSprite.css';
}

.kotak {
  composes: axis from './../../../resources/Sprites/paymentSprite.css';
}

.sbi {
  composes: sbi from './../../../resources/Sprites/paymentSprite.css';
}

.pnb {
  composes: pnb from './../../../resources/Sprites/paymentSprite.css';
}

.bob {
  composes: bob from './../../../resources/Sprites/paymentSprite.css';
}

.boi {
  composes: boi from './../../../resources/Sprites/paymentSprite.css';
}

.standardchartered {
  composes: standardchartered from './../../../resources/Sprites/paymentSprite.css';
}

.canara {
  composes: canara from './../../../resources/Sprites/paymentSprite.css';
}

.random {
  composes: random from './../../../resources/Sprites/paymentSprite.css';
}

.union {
  composes: union from './../../../resources/Sprites/paymentSprite.css';
}

.federal {
  composes: federal from './../../../resources/Sprites/paymentSprite.css';
}

.random2 {
  composes: random2 from './../../../resources/Sprites/paymentSprite.css';
}

.obc {
  composes: obc from './../../../resources/Sprites/paymentSprite.css';
}