.shimmer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: ~colors.shimmer;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.card {
  position: fixed;
  top: 20%;
  left: 12%;
  width: 76%;
  text-align: center;
  background-color: white;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  z-index: 11;
}

.dropDownTitle {
  font-weight: 800;
  font-size: 16px;
  padding-bottom: 20px;
}

ul.dropDownList {
  margin: 0px 0px 0px -40px;
  overflow-y: auto;
  height: 260px;

  .inputRow {
    padding: 5px 4px;
    position: relative;
    border-top: 1px solid ~colors.border_color;

    .customLabel {
      cursor: pointer;
      text-transform: capitalize;
      display: block;
      padding: 10px 0px;

      .customRadio {
        visibility: hidden;
        position: absolute;
      }
      /* DEFAULT <i> STYLE */
      i{
        /*display: inline-block;
        float: right;*/
        float: right;
        right: 5px;
        vertical-align: middle;
        margin-right: 5px;
        width:  14px;
        height: 14px;
        border-radius: 50%;
        transition: 0.2s;
        box-shadow: inset 0 0 0 8px #fff;
        border: 1px solid gray;
        background: gray;
      }

      /* HOVER <i> STYLE */
      &:hover > i{
        box-shadow: inset 0 0 0 3px #fff;
        background: gray;
      }

      /* (RADIO CHECKED) <i> STYLE */
      .customRadio:checked + i{
        border: 1px solid ~colors.app_blue;
        box-shadow: inset 0 0 0 3px #fff;
        background: ~colors.app_blue;
      }
    }
  }
}

@media (min-width: 480px) {
  .card {
    top: 25%;
    left: 15%;
    max-width: 320px;
  }
}

@media (min-width: 780px) {
  .card {
    left: 38%;
    max-width: 320px;
  }
}
