.tooltip {
  position: relative;
}

.tooltipTrigger {
  display: inline-block;
}
  
.tooltipBubble {
  position: absolute;
  width: 320px;
  z-index: 10;
  bottom: 100%;
  padding-bottom: 9px;
  transform: translateX(-50%);
  *:after {
    content: '';
    position: absolute;  
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid ~colors.text_blueberry;
    bottom: 0;
    left: 50%;
  }
  @media (min-width: 280px) and (max-width: 320px) {
    width: 270px;
    color: red;
  }
}

.tooltipMessage {
  background: ~colors.text_blueberry;
  color: ~colors.white;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
}