.inputRow {
  margin: 10px 0px;
  .customTextarea {
    width: 100%;
    border: 1px solid ~colors.black_10;
    border-radius: 4px;
    min-height: 100px;
    outline: none;
    padding: 8px 5px;
    transition: all 0.40s ease-in-out;
  }

  .error {
    visibility: hidden;
    height: 20px;
    margin: 2px 0px 0px 0px;
    color: ~colors.app_error;
    font-size: 11px;
  }

  .visible {
    visibility: visible;
  }
}