.continueContainer {
    text-align: center;
    margin-bottom: 20px;
}

.continueContainer.continue {
    background-color: transparent;
}

.continueContainer.shopMore {
    background-color: ~colors.white;
}

.continueButton {
    display: inline-block;
    background: ~colors.white;
    font-size: ~fonts.app_font;
    font-weight: ~fontWeight.bold;
    border: 1px solid ~colors.watermelon;
    border-radius: 2px;
    padding: 10px;
}

.continueButton a {
    color: ~colors.watermelon;
}

.continueShopPills {
    margin: 8px;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    color: ~colors.blueberry_90;
    border: 1px solid ~colors.blueberry_20;
    border-radius: 16px;
    font-size: ~fonts.small;
    font-weight: ~fontWeight.bold;
    padding: 6px 20px 6px 20px;
    white-space: nowrap;
}
  
.contents {
    display: contents;
}