.mainContainer {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: -340px 0 0 -300px;
    height: 680px;
}

.mainContainerMobile {
    box-sizing: border-box;
    height: 100%;
}

.subContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 24px;
    background-color: ~colors.white;
}

.backdropStyle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(40, 44, 63, 0.8);
    z-index: 10;
}

.mobileViewWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    z-index: 10;
}
.pageWrapperMobile {
    height: ~"calc(100% - 50px)";
}

.pageWrapperApp {
    height: 100%;
}

.pageWrapper {
    padding: 15px 0;
    background-color: rgba(40, 44, 63, 0.8);
}

.errornotify {
    position: fixed;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    top: 15px;
    z-index: 10;
    text-align: center;
}

.textarea {
    height: 326px;
    width: 100%;
    overflow: auto;
    padding: 10px;
    border: none;
}

.textareaWrapper {
    flex-grow: 2;
    position: relative;
}

.flexWrap {
    display: flex;
    height: 100%;
    width: 100%;
}

.flexWrapMobile {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}

.textareaMobile {
    height: 100%;
    width: 100%;
    overflow: auto;
    border: none;
    flex-grow: 2;
    padding-top: 10px;
}

.textarea:focus {
    outline: none;
}

.textareaMobile:focus {
    outline: none;
}

.productInfo {
    display: inline-flex;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.productInfo img{
    width: 58px;
    max-height: 77px;
}

.pdtTitle {
    font-size: 14px;
    display: inline-flex;
    font-family: Whitney;
    font-size: 14px;
    line-height: 1.29;
    color: ~colors.button_text;
}

.star {
    margin-left: -5px;
}

.info {
    margin-left: 16px;
    text-align: left;
}

.maxPhotoinfo {
    font-family: Whitney;
    font-size: 12px;
    color: ~colors.button_text;
    margin-left: 4px;
}

.header {
    margin-bottom: 25px;
    position: relative;
}

.headerTitle {
    font-family: Whitney;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.5px;
    text-align: center;
    color: ~colors.button_text;
}

.closeSearch {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 0;
    composes: remove from '../../resources/sprites.css';
  }

.reviewData {
    border-radius: 4px;
    border: solid 1px ~colors.border_blueberry_10;
    margin-bottom: 24px;
}

.reviewDataMobile {
    border-top: solid 1px ~colors.border_blueberry_10;
    margin-bottom: 14px;
    flex-grow: 2;
    position: relative;
}

.addPhotosContainer {
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
}

.addPhotos {
    font-family: Whitney;
    font-size: 12px;
    font-weight: 500;
    color: ~colors.button_text;
    margin-left: 10px;
}

.cameraIcon {
    composes: camera from '../../resources/sprites.css';
    display: inline-block;
    zoom: 0.5;
}

.cross {
    composes: blackCross from '../../resources/sprites.css';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: -20px;
    transform: scale(0.5);
}

.crossMobile {
    composes: blackCross from '../../resources/sprites.css';
    display: inline-block;
    position: absolute;
    left: 80px;
    top: -23px;
    zoom: 0.4;
}

.submitContainer {
    float: right;
    cursor: pointer;
}

.submit {
    width: 137px;
    padding: 13px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    background-color: ~colors.redical_red;
    color: ~colors.white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 14px;
    &:hover {
      background-color: ~colors.melon_90;
    }
}

.submitMobile {
    font-family: Whitney;
    font-size: 12px;
    font-weight: 500;
    color: ~colors.watermelon;
}

.imagesContainer {
    display: flex;
    float: left;
    margin: 28px 0px 16px 0px;
    align-items: center;
}

.images {
    float: left;
    position: relative;

}

.images img{
    width: 60px;
    height: 60px;
    margin-left: 16px;
}

.reviewImgMobile {
    float: left;
    position: relative;
}

.reviewImgMobile img{
    width: 44px;
    height: 44px;
    margin-right: 16px;
}

.gallery {
    width: 60px;
    height: 60px;
    vertical-align: top;
    display: inline-block;
    margin-left: 16px;
    outline: none;
    outline: 1px dashed;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.App {
    text-align: center;
}
  
.galleryDesktop {
    cursor: pointer;
    outline: none;
    transform: scale(0.5);
    composes: galleryDesktop from '../../resources/sprites.css';
}

.AddPhotos {
    cursor: pointer;
    outline: none;
    zoom: 0.5;
    margin-left: 6px;
    composes: AddPhotos from '../../resources/sprites.css';
}

.hide {
    display: none;
}

.maxPhotoLimit {
    padding: 6px 13px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    width: 85%;
    max-width: 260px;
    transform: translateX(-50%);
    color: ~colors.white;
    font-family: Whitney;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15.5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    background-color: ~colors.text_blueberry;
}

.maxPhotoLimitMobile {
    composes: maxPhotoLimit;
    bottom: 8px;
}

.maxCharLimit {
    position: absolute;
    bottom: -16px;
    font-family: Whitney;
    font-size: 12px;
    color: ~colors.app_error;
    max-width: 320px;
    padding-left: 10px;
    flex-grow: 1;
}

.buttonLoader {
    visibility: visible;
    position: absolute;
    bottom: 10px;
    right: 0px;
    height: 18px;
    width: 19px;
    color: red;
    background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
  }

.reviewWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.reviewWrapperMobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .subContainer {
      max-width: 600px;
    }
}

@media screen and (max-width: 360px) {
    .info {
        margin-left: 10px;
    }
    .productInfo img{
        width: 54px;
        max-height: 72px;
    }
    .reviewImgMobile img{
        margin-right: 12px;
    }
  }

  @media screen and ( max-height: 700px ) and ( min-width: 600px ) {
    .header {
      margin-bottom: 20px;
    }
    .productInfo img{
      width: 54px;
      max-height: 72px;
    }
    .textarea {
        height: 280px;
    }
    .subContainer {
        padding: 20px;
    }
    .reviewData {
        margin-bottom: 16px;
    }
    .mainContainer {
        width: 550px;
        height: 600px;
        margin: -300px 0 0 -275px;
    }
}