.rating {
  padding: 10px;
  border-top: 1px dashed ~colors.border_color;

  .rateText {
    display: inline-block;
    color: #696b79;
    width: 32%;
    font-weight: 800;
    vertical-align: top;
    margin-top: 3px;
  }

  .reviewText {
    display: inline-block;
    color: ~colors.black_80;
    font-weight: 600;
    margin-top: 3px;
    float: right;
    text-align: right;
    width: 32%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.active {
      color: ~colors.melon;
      cursor: pointer;
    }
  }

  .rateBox {
    display: inline-block;
    width: 68%;
  }
}

@media (min-width: 360px) {
  .rating {
    .rateText {
      width: 25%;
    }
  }
}

@media (min-width: 480px) {
  .rating {
    .rateText {
      width: 25%;
    }
  }
}

@media (min-width: 780px) {
  .rating {
    .rateText {
      width: 18%;
    }
  }
}

@media (min-width: 960px) {
  .rating {
    .rateText {
      width: 15%;
    }
  }
}