.account {
  display: none;
  border-bottom: 1px solid ~colors.border_color;
  padding: 15px 0px;
  font-size: 12px;
}

.heading {
  font-size: 18px;
  font-weight: 800;
}

@media(min-width: 780px) {
  .account {
    display: block;
  }
}