.card {
  text-align: left;
  background-color: ~colors.white;
  padding: 12px 0;
  margin-bottom: 12px;
}

.cardHeader {
  text-transform: uppercase;
  font-size: ~fonts.tiny_xl;
  font-weight: ~fontWeight.bold;
  letter-spacing: 1px;
  color: ~colors.blueberry_70;
  margin: 0 0 12px 12px;
}
  
.cardContents {
  overflow-x: scroll;
  padding-right: 12px;
}
  
::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}
  
.cardContainer {
  padding: 12px 0px 1px 0px;
  background-color: transparent;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  background-color: ~colors.white;
  margin-bottom: 4px;
}

.titleText {
  color: ~colors.blueberry_70;
  display: inline-block;
  vertical-align: middle;
  font-size: ~fonts.app_font;
  font-weight: ~fontWeight.bold;
}
