.card {
  background-color: ~colors.app_white;
  padding: 30px 15px;
  margin-bottom: 10px;
  color: ~colors.black;
  box-sizing: border-box;

  .heading {
    font-weight: 800;
    margin: 10px 0px;
  }

  .button {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: ~colors.app_green;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;

    &.disabled {
      background-color: ~colors.black_30;
    }

    .buttonLoader {
      visibility: visible;
      position: absolute;
      bottom: 13px;
      top: 30%;
      right: 20%;
      height: 18px;
      width: 19px;
      color: red;
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }
}

@media (min-width: 780px) {
  .card {
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
    border: 1px solid ~colors.black_10;
    padding: 50px 15px;
  }
}