.svg {
  display: inline-block;
}

.myntraCreditLogo {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/myntra_credit_logo.svg) no-repeat;
}

.locationIndicator {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/NoSavedAddress.svg) no-repeat;
}

.myntraPointsHurry {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/myntra-points-hurry.svg) no-repeat;
  transform: scale(0.5, 0.5);
}

.emptyStar {
  background: url(https://cdn.myntassets.com//data/portal/svg_icons/empty_star.svg) no-repeat;
}

.filledStar {
  background: url(https://cdn.myntassets.com//data/portal/svg_icons/filled_star.svg) no-repeat;
}

.circularTick {
  background: url(https://cdn.myntassets.com//data/portal/svg_icons/circular_tick.svg) no-repeat;
}

.wishListed {
  background: url(https://cdn.myntassets.com/growth-hack/wishlisted.svg) no-repeat;
}

.wishListed {
  background: url(https://cdn.myntassets.com/growth-hack/wishlisted.svg) no-repeat;
}

.notWishListed {
  background: url(https://cdn.myntassets.com/growth-hack/notWishlisted.svg) no-repeat;
}

.insiderIcon {
  background: url(https://cdn.myntassets.com/growth-hack/insider_icon.png) no-repeat;
  background-size: cover;
}

.info {
  background: url(https://cdn.myntassets.com/growth-hack/info.png) no-repeat;
  background-size: cover;
}

.moveToTopArrow {
  background: url(https://cdn.myntassets.com/growth-hack/moveToTopArrow.svg) no-repeat;
}

.confirmImage {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/confirm-image.svg) no-repeat;
}

.mfaLogo {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/mfa-logo.svg) no-repeat;
}

.taggedTick {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/tagged-tick.svg) no-repeat;
}

.phoneIcon {
  background: url(https://cdn.myntassets.com/growth-hack/icon_phone.svg) no-repeat;
}

.ccInterventionArrow {
  background: url(https://cdn.myntassets.com/growth-hack/arrow.svg) no-repeat;
}

.tokenExpired {
  background: url(https://cdn.myntassets.com/data/portal/svg_icons/expired.svg) no-repeat;
}

.itemSpecialityIcon {
  background: url(https://cdn.myntassets.com/growth-hack/item_speciality.svg) no-repeat;
}