.mymyntraSavedCardsSprite {
  background: url(https://assets.myntassets.com/assets/images/2017/7/19/11500447450766-checkout_bank_v1.png) no-repeat;
  background-size: 730px 165px;
  display: inline-block;
}

@media (-webkit-min-device-pixel-ratio: 2), /* Webkit-based browsers */
       (min--moz-device-pixel-ratio: 2),    /* Older Firefox browsers (prior to Firefox 16) */
       (min-resolution: 2dppx),             /* The standard way */
       (min-resolution: 192dpi){
  .mymyntraSavedCardsSprite {
    background-image: url(https://assets.myntassets.com/assets/images/2017/7/19/11500447496752-checkout_bank_v1_2x.png);
  }
}

/* Saved cards related images */
.noCardImage {
  background-position: -577px -45px;
	width: 145px;
	height: 110px;
  composes: mymyntraSavedCardsSprite;
}

.pciEnabled {
  background-position: -79px -74px;
	width: 58px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.masterCardSecure {
  background-position: -150px -75px;
	width: 56px;
	height: 20px;
  composes: mymyntraSavedCardsSprite;
}

.visaVerified {
  background-position: -219px -75px;
	width: 47px;
	height: 20px;
  composes: mymyntraSavedCardsSprite;
}

/* Bank Name Images */
.axis {
  background-position: -7px -7px;
	width: 26px;
	height: 23px;
  composes: mymyntraSavedCardsSprite;
}

.citi {
  background-position: -41px -11px;
	width: 29px;
	height: 18px;
  composes: mymyntraSavedCardsSprite;
}

.hdfc {
  background-position: -80px -8px;
	width: 20px;
	height: 24px;
  composes: mymyntraSavedCardsSprite;
}

.icici {
  background-position: -114px -9px;
	width: 21px;
	height: 23px;
  composes: mymyntraSavedCardsSprite;
}

.kotak {
  background-position: -149px -8px;
	width: 21px;
	height: 24px;
  composes: mymyntraSavedCardsSprite;
}

.sbi {
  background-position: -184px -9px;
	width: 22px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.pnb {
  background-position: -219px -9px;
	width: 22px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.bob {
  background-position: -253px -10px;
	width: 23px;
	height: 20px;
  composes: mymyntraSavedCardsSprite;
}

.boi {
  background-position: -290px -9px;
	width: 20px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.sc, .stanc {
  background-position: -323px -8px;
	width: 24px;
	height: 24px;
  composes: mymyntraSavedCardsSprite;
}

/* .amex {
  background-position: -358px -8px;
	width: 24px;
	height: 23px;
  composes: mymyntraSavedCardsSprite;
} */

.cnb {
  background-position: -391px -6px;
	width: 28px;
	height: 23px;
  composes: mymyntraSavedCardsSprite;
}

.random {
  background-position: -429px -9px;
	width: 23px;
	height: 23px;
  composes: mymyntraSavedCardsSprite;
}

.uob {
  background-position: -462px -9px;
	width: 26px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.federal {
  background-position: -495px -14px;
	width: 30px;
	height: 12px;
  composes: mymyntraSavedCardsSprite;
}

.random2 {
  background-position: -532px -9px;
	width: 27px;
	height: 24px;
  composes: mymyntraSavedCardsSprite;
}

.obc {
  background-position: -571px -7px;
	width: 19px;
	height: 26px;
  composes: mymyntraSavedCardsSprite;
}

.anb {
  background-position: -602px -8px;
	width: 27px;
	height: 24px;
  composes: mymyntraSavedCardsSprite;
}

.random3 {
  background-position: -636px -9px;
	width: 28px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}

.iob {
  background-position: -673px -9px;
	width: 24px;
	height: 22px;
  composes: mymyntraSavedCardsSprite;
}


/* ---------------------------------------- Card Types ---------------------------- */
.visa {
  background-position: -7px -44px;
	width: 50px;
	height: 17px;
  composes: mymyntraSavedCardsSprite;
}

.mastercard {
  background-position: -71px -40px;
	width: 43px;
	height: 25px;
  composes: mymyntraSavedCardsSprite;
}

.maestro {
  background-position: -131px -40px;
	width: 43px;
	height: 25px;
  composes: mymyntraSavedCardsSprite;
}

.rupay {
  background-position: -187px -44px;
	width: 74px;
	height: 18px;
  composes: mymyntraSavedCardsSprite;
}

.amex {
  background-position: -285px -40px;
	width: 25px;
	height: 25px;
  composes: mymyntraSavedCardsSprite;
}

.diners {
  background-position: -331px -42px;
	width: 79px;
	height: 21px;
  composes: mymyntraSavedCardsSprite;
}

.discover {
  background-position: -420px -45px;
	width: 87px;
	height: 15px;
  composes: mymyntraSavedCardsSprite;
}

.none {
  background-position: -523px -40px;
	width: 39px;
	height: 25px;
  composes: mymyntraSavedCardsSprite;
}
