.arnMessage {
  background: ~colors.white;
  color: ~colors.black_80;
  line-height: 16px;
  font-size: 14px;
  position: relative;
  padding-right: 14px;
  span {
    font-weight: 800;
  }
}
.loader {
  margin: 2px auto 2px auto;
  width: 44px;
  height: 10px;
  display: block;
  padding: 6px 0px 6px 0px;
  background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
}
