.iconWrapper {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 19px;

  .icon {
    font-size: 24px;
    color: #526cd0;
    margin-top: -4px;
    font-weight: unset !important;
    position: absolute;
    top: -12px;
  }

  &.noPadding {
    top: 0px;
  }

  .tick {
    font-size: 14px;
    position: absolute;
    left: -18px;
    bottom: -1px;
    color: ~colors.verified_green;
  }

  .verified {
    font-size: 12px;
    color: ~colors.verified_green;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .activePointsInfo {
    min-width: 350px;
    max-width: 100%;
    position: absolute;
    right: -4px;
    font-size: 12px;
    bottom: 8px;
    height: auto;

    .triangle {
      position: relative;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid black;
      float: right;
      right: -14px;
      top: -6px;
    }

    .infoText {
      background: black;
      color: white;
      padding: 12px;
      border-radius: 2px;
      line-height: 1.5;
      font-size: 12px;
      position: absolute;
      bottom: 11px;
      right: -21px;
    }
  }
}