.card {
  margin: 20px 0px;
  text-align: center;
  padding:30px;
  background-color: ~colors.app_white;
  color: ~colors.app_black;

  .primaryMessage {
    color: ~colors.black_80;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
  }

  .secondaryMessage {
    margin: 10px 0px 30px 0px;
    font-size: 14px;
    color: ~colors.app_black;
    line-height: 1.43;
  }

  .icon {
    font-size: 48px;
    margin-top: 60px;
    color: ~colors.melon;
  }

  .image {
    height: 280px;
    width: 226px;
    margin-bottom: 30px;
  }

  .showButton {
    position: relative;
    width: 160px;
    padding: 12px 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    border: 1px solid ~colors.melon;
    font-size: 14px;
    font-weight: 600;
    color: ~colors.melon;
    cursor: pointer;
    text-transform: uppercase;

    .buttonLoader {
      visibility: visible;
      position: absolute;
      bottom: 10px;
      right: 0px;
      height: 18px;
      width: 19px;
      color: red;
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }
}

@media (min-width: 780px) {
  .card {
    margin: 0px auto;
    width: 65%;
    border-radius: 0px;
    margin-top: 60px;
  }
}

@media (min-width: 980px) {
  .card {
    width: 66%;
  }
}