.selfShipInstructions {
  margin: 10px 0px 0px 0px;
  .heading {
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
  }

  & > ul {
    margin-left: -10px;
  }

  & ul > li  {
    margin: 5px 0px;
    list-style-type: disc;

    a {
      cursor: pointer;
      font-weight: 800;
      color: ~colors.app_blue;
      text-transform: uppercase;
    }
  }
}