.nextSteps {
  margin: 10px 0px 0px 0px;
  background-color: white;

  .heading {
    padding: 16px 10px 0 30px;
    font-weight: 800;
    font-size: 16px;
    border-top: 1px solid ~colors.border_color;
  }

  .instructionsWrapper {
    padding: 10px;
    color: ~colors.text_light_grey;

    .emailInstruction {
      margin-left: 20px;
      margin-bottom: 16px;
    }
    

    &.self-ship {
      .image {
        background: url("https://assets.myntassets.com/assets/images/2017/12/27/11514359193394-return-confirm-selfship.png") no-repeat;
        background-size: 120px 400px;
        display: inline-block;
        height: 400px;
        width: 120px;
      }

      .instructions {
        display: inline-block;
        width: 62%;
        float: right;
        vertical-align: top;
        margin: 16px 16px 0 0;

        .textRow {
          padding-top: 25px;
          padding-bottom: 32px;

          .link {
            cursor: pointer;
            color: ~colors.app_blue;
          }

          &:last-child {
            padding-top: 35px;
            padding-bottom: 25px;
          }
        }
      }
    }

    &.pickup {
      .image {
        background: url("https://assets.myntassets.com/assets/images/2017/12/27/11514357215439-return-confirm-pickup.png") no-repeat;
        background-size: 120px 300px;
        display: inline-block;
        height: 300px;
        width: 120px;
      }

      .instructions {
        display: inline-block;
        width: 50%;
        float: right;
        vertical-align: top;

        .textRow {
          padding-top: 32px;
          padding-bottom: 35px;

          &:last-child {
            padding-top: 55px;
            padding-bottom: 25px;
          }
        }
      }
    }
    &.exchange {
      .image {
        background: url("https://cdn.myntassets.com/mymyntra/images/exchange_confirm.png") no-repeat;
        background-size: 120px 190px;
        display: inline-block;
        height: 200px;
        width: 120px;
        margin: 20px 0 0 25px;
      }
      .instructions {
        display: inline-block;
        width: 40%;
        float: right;
        vertical-align: top;

        .textRow {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
  }
}

@media (min-width: 380px) {
  .nextSteps {
    .instructionsWrapper {
      &.self-ship {
        .instructions {
          .textRow {
            padding-top: 35px;
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .nextSteps {
    margin: 12px 0px 10px 0px;

    .instructionsWrapper {
      &.self-ship {
        .instructions {
          .textRow {
            padding-top: 35px;
            padding-bottom: 35px;

            &:last-child {
              padding-top: 55px;
              padding-bottom: 25px;
            }
          }
        }
      }
      &.pickup {
        .instructions {
          width: 50%;
          .textRow {
            padding-top: 38px;
            padding-bottom: 38px;
          }
        }
      }
      &.exchange {
        .instructions {
          width: 50%;
          .textRow {
            padding-top: 35px;
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}

@media (min-width: 980px) {
  .nextSteps {
    .instructionsWrapper {
      &.pickup {
        .instructions {
          .textRow {
            padding-top: 42px;
            padding-bottom: 42px;
          }
        }
      }
    }
  }
}