.itemContainer {
  margin: 10px 0px;
  border: solid transparent;
  border-width: 4px 0 4px;
  &:nth-child(2) {
    margin-top: 2px;
  }
}

.label {
  background-color: ~colors.app_white;
  margin-bottom: 1px;
  padding: 7px 12px;
}

.attributeIcon {
  float: left;
  margin-right: 5px;
}

.attributeTag {
  display: block;
  position: relative;
  color: ~colors.text_blueberry;
  font-weight: 500;
  font-size: 12px;
  margin-top: 1px;
}

.topBorder {
  border-top: 1px solid ~colors.border_blueberry_10;
  margin-bottom: 10px;
  margin-top: -7px;
}

.item {
  width: 100%;
  overflow: auto;
  background-color: ~colors.app_white;
  color: ~colors.black_90;
  position: relative;

  .productInfo {
    display: block;
    margin: 5px 0 0 0;
    padding: 7px 12px 10px 12px;

    .thumbnail {
      display: inline-block;
      width: 80px;
      min-width: 80px;
      img {
        border: 1px solid #edeeef;
        height: 108px;
        width: 80px;
      }
    }

    .thumbnail:hover {
      cursor: pointer;
    }

    .info {
      user-select:;
      display: inline-block;
      padding: 0px 0px 5px 12px;
      width: 65%;
      vertical-align: top;
      color: ~colors.text_light_grey;

      .brand {
        color: ~colors.black_90;
        font-weight: 500;
      }

      .productName {
        margin-top: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 4px;
      }

      .productName, .size {
        color: ~colors.blueberry_60;
      }

      .priceWrapper {
        margin: 20px 0px 0px 0px;
        display: block;
      }

      .priceInfo {
        margin-top: 4px;
        .price {
          vertical-align: top;
          margin-right: 10px;
          font-weight: 800;
          color: ~colors.black_90;
        }
      }
      .productstrike {
          text-decoration: line-through;
          color: ~colors.black_50;
          margin: 0 5px;
          font-size: 14px;
      }
      .productDiscountPercentage {
          white-space: pre-line;
          color: ~colors.green;
          font-weight: 800;
          font-size: 14px;
      }

      .status {
        font-weight: 800;
        color: ~colors.mango;
        text-transform: capitalize;
        padding: 10px 0 0 0;
        span {
          color: ~colors.black_90;
          font-weight: 100;
        }
      }


      .statusDetails {
        padding: 4px 0 3px 0;
      }

      .delivered, .complete {
        color: ~colors.green;
      }
      .deliveredBlack {
        color: ~colors.black;
      }

      .return {
        color: ~colors.red;
      }

      .cancelled {
        color: ~colors.app_error;
      }
    }

    .tag {
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: bottom right;
      transform: scale(0.6);
    }

    .rightArrow {
      display: inline-block;
      float: right;
      width: 4%;
      vertical-align: top;
      margin-top: 13%;
      color: ~colors.black_20;
    }
  }

  .itemButtons {
    display: inline-block;
    padding: 0px 12px;
    margin: 0 0 12px 0;
    .button {
      cursor: pointer;
      font-weight: 800;
      display: inline-block;
      padding: 6px 8px 6px 8px;
      border: 1px solid ~colors.blue_30;
      border-radius: 5px;
      color: ~colors.app_blue;
      margin-right: 8px;
      &.disabled {
        color: ~colors.black_30;
        cursor: default;
        border-color: ~colors.black_30;
      }
    }
  }

  .cdLinkComponent {
    position: relative;
    padding: 0 12px 0 12px;
    color: ~colors.black_70;

    .cdSeparator {
      position: absolute;
      height: 1px;
      border-top: 0.5px solid ~colors.black_10;
      width: 95%;
      left: 10px
    }

    .cdHeader {
      padding-top: 10px;
      font-weight: 500;
    }

    .cdText {
      padding: 5px 0 10px;
      .cdLink {
        color: ~colors.blue_100;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .itemMessage {
    background: #fff3ef;
    padding: 10px 12px 10px 12px;
    color: ~colors.black;
    line-height: 18px;
  }

  .returnMessage {
    background: ~colors.white;
    padding: 10px 12px 10px 12px;
    color: ~colors.black_80;
    line-height: 18px;
    border-top: 1px solid ~colors.black_10;

    span {
      font-weight: 500;
    }
  }

  .pickupMessage {
    background: ~colors.white;
    color: ~colors.black_80;
    line-height: 18px;
    span {
      font-weight: 500;
    }
  }

  .messageHolder {
    border-top: 1px solid ~colors.black_10;
    padding: 10px 12px 10px 12px;
  }

}

.isExpress {
  composes: tag-express from './../../../resources/sprites.css';
}

.isValueShipped {
  composes: tag-valueShipping from './../../../resources/sprites.css';
}

.isTryable {
  composes: tag-tryAndBuy from './../../../resources/sprites.css';
}

.isFree {
  composes: tag-freeGift from './../../../resources/sprites.css';
}

.isGlobal {
  composes: tag-global from './../../../resources/sprites.css';
}

.isExchangeOrder {
  composes: tag-exchangeOrder from './../../../resources/sprites.css';
}

.isPreOrder {
  composes: tag-preOrder from './../../../resources/sprites.css';
}

@media (min-width: 780px) {
  .itemContainer {
    margin: 8px 0 16px;
    border-width: 4px;
    &:nth-child(2) {
      margin-top: 5px;
    }
  }
  .item {
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
    .product {
      .thumbnail {
        left: 30%;
      }
    }
  }
  .rightArrow {
    margin-top: 8% !important;
    width: 2% !important;
  }
}

.animate {
  animation: highlight 3s;
}

@keyframes highlight {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: rgba(167, 251, 234, 0.1);
  }
  50% {
    border-color: rgba(167, 251, 234, 1);
  }
  75% {
    border-color: rgba(167, 251, 234, 0.1);
  }
  100% {
    border-color: transparent;
  }
}
