/**
  Find the Icons mapping: https://app.zeplin.io/project/5786044955b01eef468f649b/screen/5a0442b03f733bedac855044
*/

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomynt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 13px;

  /* better font rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  outline: none;
}

.info:before {
  content: "\e94a";
}
.rupee300:before {
  content: "\e948";
}
.rupee500:before {
  content: "\e949";
}
.account_menu:before {
  content: "\e900";
}
.address:before {
  content: "\e901";
}
.android:before {
  content: "\e902";
}
.attach:before {
  content: "\e903";
}
.avatar:before {
  content: "\e904";
}
.back:before {
  content: "\e905";
}
.bag:before {
  content: "\e906";
}
.call:before {
  content: "\e907";
}
.call_back:before {
  content: "\e908";
}
.chat:before {
  content: "\e909";
}
.checkbox_active:before {
  content: "\e90a";
}
.checkbox_inactive:before {
  content: "\e90b";
}
.chevron_down:before {
  content: "\e90c";
}
.chevron_left:before {
  content: "\e90d";
}
.chevron_right:before {
  content: "\e90e";
}
.chevron_up:before {
  content: "\e90f";
}
.clear:before {
  content: "\e910";
}
.clock:before {
  content: "\e911";
}
.close:before {
  content: "\e912";
}
.collapse:before {
  content: "\e913";
}
.collections:before {
  content: "\e914";
}
.coupons:before {
  content: "\e915";
}
.discount:before {
  content: "\e916";
}
.dropdown_down:before {
  content: "\e917";
}
.dropdown_up:before {
  content: "\e918";
}
.edit:before {
  content: "\e919";
}
.edit_profile:before {
  content: "\e91a";
}
.email:before {
  content: "\e91b";
}
.expand:before {
  content: "\e91c";
}
.facebook:before {
  content: "\e91d";
}
.filter:before {
  content: "\e91e";
}
.fit_assist:before {
  content: "\e91f";
}
.giftcards:before {
  content: "\e920";
}
.globaltrends:before {
  content: "\e921";
}
.google+:before {
  content: "\e922";
}
.hamburger:before {
  content: "\e923";
}
.homeliving:before {
  content: "\e924";
}
.instagram:before {
  content: "\e925";
}
.ios:before {
  content: "\e926";
}
.kids:before {
  content: "\e927";
}
.likes:before {
  content: "\e928";
}
.logo_wire:before {
  content: "\e929";
}
.looks:before {
  content: "\e947";
}
.men:before {
  content: "\e92a";
}
.myntra_credit:before {
  content: "\e92b";
  color: #535766;
}
.myntrapoints:before {
  content: "\e92c";
}
.new:before {
  content: "\e92d";
}
.orders:before {
  content: "\e92e";
}
.orders_profile:before {
  content: "\e92f";
}
.payment_cards:before {
  content: "\e930";
}
.personalcare:before {
  content: "\e931";
}
.phonepe:before {
  content: "\e932";
}
.popular:before {
  content: "\e933";
}
.price_high_to_low:before {
  content: "\e934";
}
.price_low_to_high:before {
  content: "\e935";
}
.qr:before {
  content: "\e936";
}
.radio_active:before {
  content: "\e937";
}
.radio_inactive:before {
  content: "\e938";
}
.refer:before {
  content: "\e939";
}
.search:before {
  content: "\e93a";
}
.share:before {
  content: "\e93b";
}
.similar:before {
  content: "\e93c";
}
.sort:before {
  content: "\e93d";
}
.stores:before {
  content: "\e93e";
}
.tick:before {
  content: "\e93f";
}
.twitter:before {
  content: "\e940";
}
.wedding:before {
  content: "\e941";
}
.wishlist_active:before {
  content: "\e942";
}
.wishlist_inactive:before {
  content: "\e943";
}
.wishlist_link:before {
  content: "\e944";
}
.women:before {
  content: "\e945";
}
.youtube:before {
  content: "\e946";
}

.star:before {
  content: "\e926";
}

.tick1:before {
  content: "\e94c";
}
.success_tick:before {
  content: "\e94b";
}
