.bankAccountsModal {
  .shimmer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: ~colors.shimmer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: ~colors.border_blueberry_5;
    text-align: left;
    box-sizing: border-box;
    z-index: 13;
    color: #535766;

    .modalHeading {
      background-color: white;
      font-weight: 800;
      padding: 15px;
      text-transform: uppercase;
      border-bottom: 1px solid ~colors.border_color;
    }

    .bankAccountList {
      overflow: auto;
      height: 76%;
    }

    .modalActions {
      display: block;
      height: 38px;
      margin: 10px;
      .heading {
        display: inline-block;
        font-weight: 800;
        font-size: 14px;
        margin-top: 8px;
      }
      .addAccountButton {
        cursor: pointer;
        display: inline-block;
        padding: 8px 14px;
        float: right;
        cursor: pointer;
        border: 1px solid ~colors.app_blue;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 800;
        color: ~colors.app_blue;
      }
    }

    .buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-top: 1px solid ~colors.border_color;
      background-color: white;

      .button {
        display: inline-block;
        cursor: pointer;
        width: 50%;
        text-transform: uppercase;
        padding: 15px;
        text-align: center;
        font-weight: 800;

        &:last-child {
          color: white;
          background-color: ~colors.app_green;
        }

        &.disabled {
          background-color: ~colors.black_30;
        }

        .buttonLoader {
          visibility: visible;
          position: absolute;
          bottom: 13px;
          top: 30%;
          right: 8%;
          height: 18px;
          width: 19px;
          color: red;
          background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
        }
      }
    }
  }
}

@media (min-width: 780px) {
  .bankAccountsModal {
    .modal {
      top: 10%;
      left: 35%;
      width: 450px;
      height: 80%;
    }
  }
}