.card {
  margin-top: 8px;
  background-color: ~colors.app_white;
  padding: 12px;
  font-size: 13px;

  .heading {
    font-weight: 800;
    color: ~colors.black_90;
    font-size: 15px;
  }

  .reasonMessage {
    margin: 10px 0px;
    font-size: 13px;
    line-height: 16px;
  }

  .refundInformation {
    line-height: 16px;
    font-size: 13px;
    .refundAmount {
      text-transform: uppercase;
      padding: 5px 0px;
    }
  }

  .buttons {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    display: block;
    background-color: white;

    .actionError {
      padding: 5px 10px;
      color: red;
    }
  }
}

.card:last-child {
  margin-bottom: 20px;
}

.card.android:last-child {
  margin-bottom: 60px;
}

@media (min-width: 780px) {
  .card {
    margin-bottom: 0px;
    margin-top: 16px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
    .buttons {
      position: relative;
      margin-top: 30px;
    }
  }
  .card:last-child {
    margin-bottom: 30px;
  }
}