.checkBoxComponent {
  margin: 0px 0px 0px -40px;
}

.inputRow {
  margin: 5px 0px;
  position: relative;

  label {
    cursor: pointer;

    .customCheckBox {
      position: absolute;
      visibility: hidden;
    }
    i{     /* DEFAULT <i> STYLE */
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width:  14px;
      height: 14px;
      transition: 0.2s;
      box-shadow: inset 0 0 0 8px #fff;
      border: 1px solid gray;
      background: gray;
    }

    &:hover > i{ /* HOVER <i> STYLE */
      box-shadow: inset 0 0 0 3px #fff;
      background: gray;
    }
    .customCheckBox:checked + i{ /* (CheckBox CHECKED) <i> STYLE */
      border: 1px solid ~colors.melon;
      box-shadow: inset 0 0 0 3px #fff;
      background: ~colors.melon;
    }
  }
}