.shimmer {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: ~colors.shimmer;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form {
  position: fixed;
  background-color: ~colors.border_blueberry_5;
  text-align: left;
  box-sizing: border-box;
  z-index: 13;
  color: #535766;
  overflow-y: scroll;

  &.mobile {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  &.web {
    top: 15%;
    left: 35%;
    width: 450px;
    height: 80%;
  }

  .modalHeading {
    background-color: white;
    font-weight: 800;
    padding: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid ~colors.border_color;
  }

  .cardFields {
    overflow: auto;
    height: 84%;
  }

  .card {
    margin: 10px 0px;
    background-color: white;
    padding: 20px;
    border: 0px;

    .inlineBlock {
      display: block;
      .eachBlock {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        float: right;
      }
      :first-child {
        margin-right: 10%;
        float: none;
      }
    }
  }
  .buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid ~colors.border_color;
    background-color: white;
    .button {
      cursor: pointer;
      text-align: center;
      display: inline-block;
      width: 50%;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 800;

      &:last-child {
        color: white;
        background-color: ~colors.melon;
      }

      &.disabled {
        background-color: ~colors.black_30;
      }

      .buttonLoader {
        visibility: visible;
        position: absolute;
        bottom: 13px;
        top: 30%;
        right: 8%;
        height: 18px;
        width: 19px;
        color: red;
        background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
      }
    }
  }
}

ul.radioOptions {
  padding: 0;
  margin: 12px 0 16px;
  .inputRow {
    width: 30%;
    display: inline-block;
    font-size: 14px;

    .customLabel {
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.radioText, .checkboxText {
  vertical-align: middle;
}

.addressInput input {
  font-weight: 500;
}

.checkBoxOptions {
  margin: 12px 0 16px;
  padding: 0;
  .inputRow {
    margin-bottom: 16px;
    position: relative;
  }
}

.checkBoxLabel {
  cursor: pointer;
  font-size: 14px;
}

.extraFieldLabel {
  color: #94969F;
}

.horizontalSeparator {
  height: 1px;
  border-top: 1px solid ~colors.black_10;
  width: 100%;
  margin: 16px 0 16px;
}

.errMessage {
  font-size: 11px;
  color: ~colors.app_error;
}

.saveError {
  font-size: 11px;
  margin-top: 10px;
  color: ~colors.app_error;
}

.hide {
  display: none;
}

.buttonLoader {
  visibility: visible;
  position: absolute;
  bottom: 26px;
  right: 5%;
  height: 18px;
  width: 19px;
  color: red;
  background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
}

@media (min-width: 780px) {
  .card {
    top: 15%;
    left: 35%;
    height: auto;
    max-width: 450px;
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
    border: 1px solid ~colors.black_10;
  }
}