.returnConfirmation {

  .itemsCard {
    margin-top: 10px;
    background-color: white;

    .heading {
      padding: 12px;
      font-weight: 800;
      color: ~colors.black_90;
      font-size: 15px;
      border-bottom: 1px solid ~colors.border_color;
    }

    .itemHolder {
      padding: 12px;
    }

    .information {
      border-top: 1 px solid red;
      clear: both;
      padding: 12px;
      padding-left: 30px;
      font-size: 13px;
      color: ~colors.blueberry_60;
      .bold {
        font-weight: 800;
      }
    }
  }

  .noMargin {
    margin-top: 0px;
  }


  .button {
    display: inline-block;
    cursor: pointer;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    padding: 12px;
    padding: 15px 12px 15px 12px;
    text-align: center;
    text-transform: uppercase;
    color: ~colors.white;
    background-color: ~colors.melon;
    font-weight: 800;
    box-shadow: 0px 1px 5px 5px rgba(40, 44, 63, 0.07);
  }
}

@media (min-width: 780px) {
  .returnConfirmation {
    .itemsCard {
      box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
    }

    .itemsCard:nth-last-child(2) {
      margin-bottom: 0px;
    }

    .button {
      box-shadow: 0px 0px 0px 0px;
      position: relative;
      margin: 20px 0px;
      width: 25%;
      border-radius: 4px;
    }
  }
}