.container {
  background: white;
  padding: 10px 12px; 
}

.header {
  font-weight: 500;
  margin-bottom: 10px;
  color: ~colors.black;
}

.desc {
  margin-bottom: 10px;
  color: ~colors.black;
}

.button {
  display: inline-block;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  border: 0;
  color: ~colors.black;
  &:focus {
    outline: none;
  }
}

.tipText {
  color: ~colors.black;
}

.tip {
  font-weight: 500;
}

.confirm {
  border-right: 1px solid ~colors.border_color;
  color: white;
  border: 0;
  background-color: ~colors.app_green;
  &.disabled {
    background: ~colors.black_30;
  }
}