.container {
  padding: 12px 0 12px 12px;
}

.allProfiles {
  overflow: auto;
  white-space: nowrap;
  min-height: 40px;
}

.arrowLine {
  text-align: center;
}

.sideLine {
  display: inline-block;
  border-top: 1px solid #d4d5d9;
  width: 42%;
}

.triangle {
  display: inline-block;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  transform-origin: center center;
  border-top: 1px solid #d4d5d9;
  border-left: 1px solid #d4d5d9;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: -5px;
}

.recommendText {
  margin: 12px 0 12px 0;
  color: #7e818c;
  font-size: 13px;
  padding: 0 12px;
  line-height: 1.5;
}

.suggHeading {
  font-size: 17px;
  margin-bottom: 16px;
  color: ~colors.text_blueberry;
}

.profile {
  border: 0.5px solid ~colors.black_30;
  border-radius: 25px;
  display: inline-block;
  padding: 8px 10px;
  color: #3e4152;
  font-size: 15px;  
  font-weight: 500;
  width: 75px;
  text-align: center;
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.selected {
    color: ~colors.melon;
    border-color: ~colors.melon;
  }
}

.moreDetails {
  margin-top: 10px;
  font-size: 13px;
  color: ~colors.blueberry_60;
}

.addDetails {
  margin-top: 5px;
  font-weight: 500;
  color: ~colors.melon;
}

.taggedAllMessage {
  margin-top: 40px;
  text-align: center;
  padding: 0 40px 0;
  font-size: 14px;
  color: ~colors.text_blueberry;
  line-height: 1.4;
}

.tamHeading {
  font-weight: 500;
  margin-right: 5px;
}

.tamSeparator {
  border-top: 1px solid #eaeaec;
  margin-top: 28px;
  margin-bottom: 25px;
}

.genderBlock {
  margin-top: 8px;
  text-align: left;
}

.genderHeader {
  margin-bottom: 10px;
  font-size: 15px;
}

.genderLabel {
  margin-right: 24px;
}

.radioText {
  font-size: 15px;
  color: ~colors.text_blueberry;
}

.autoSelectGender {
  color: #94969f;
}

.autoSelectText {
  margin-left: 7px;
  font-style: italic;
}

.disabled {
  border-color: ~colors.border_color;
  color: ~colors.border_color;
}

.hide {
  display: none;
}

.mfaLogo {
  margin-bottom: 10px;
}