.productContainer {
  border: 1px solid ~colors.blueberry_10;
  margin-left: 12px;
  min-height: 200px;
  width: 152px;
}

.brandName {
  font-size: ~fonts.app_font;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0px 0px 2px;
}

.productName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: ~fonts.small;
  font-weight: ~fontWeight.light;
  color: ~colors.blueberry_50;
  height: 16px;
  margin: 4px 0px 15px 2px;
}

.productData {
  padding: 6px;
  overflow: hidden;
  background-color: ~colors.white;
}

.priceContainer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: -18px 0px 0px 2px;
}

.price {
  font-weight: ~fontWeight.bold;
  color: ~colors.blueberry_80;
  font-size: 12px;
  margin-right: 5px;
}

.originalPrice {
  color: ~colors.blueberry_50;
  text-decoration: line-through;
  font-size: ~fonts.small;
  margin-right: 5px;
}

.iconRupee {
  font-size: ~fonts.tiny_xl;
  font-weight: ~fontWeight.bold;
}

.rupeeIcon {
  font-size: ~fonts.tiny_xl;
  font-weight: bold;
}

.discPercent {
  color: ~colors.watermelon;
  font-size: ~fonts.tiny_xl;
  white-space: nowrap;
}

.contents {
  display: contents;
}
