.container {
  border-left: 2px solid ~colors.black_10;
  margin: 10px 20px 0px 7%;
  padding: 0 10px 0 10px;
  position: relative;
}

.courierInfoContainer {
  margin: 10px 20px 0px 6%;
  padding: 0 0 8px 0;
  border-bottom: 1px solid ~colors.black_10;
}

.infoHeading {
  font-size: 13px;
  line-height: 18px;
}

.infoDetails {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.entry {
  margin: 0 0 15px 0;
  min-height: 25px;
}

.entry:last-child {
  min-height: 0px;
  margin: 0px
}

.date {
  position: absolute;
  left: -6px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  background: ~colors.white;
}

.details {
  font-size: 13px;
  line-height: 16px;
  color: ~colors.black;
  margin-left: 44px;
}

.more {
  text-transform: none;
  color: ~colors.blue_90;
  cursor: pointer;
}

.moredetails {
  visibility: hidden;
}