.segment {
  border-top: 1px solid ~colors.border_color;
  padding: 20px 0px;
  width: 145px;
}

.segment:first-child {
  border-top: none;
}

.heading {
  color: ~colors.text_light_grey;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 0px;
}

.link {
  display: block;
  margin: 5px 0px;
}

.activeLink {
  composes: link;
  color: ~colors.app_green;
  font-weight: 800;
}