.noRatingsCard {
  padding: 40px 10px 60px 10px;
  color: ~colors.black_90;
  text-align: center;

  .imageWrapper {
    margin: 40px 20px;
  }

  .primaryMessage {
    font-weight: 800;
  }

  .button {
    cursor: pointer;
    margin: 20px auto;
    padding: 10px;
    width: 120px;
    border: 1px solid ~colors.app_blue;
    border-radius: 4px;
    font-weight: 800;
    text-transform: uppercase;
  }
}