.card {
  margin-top: 8px;
  background-color: ~colors.app_white;
  padding: 12px;

  .link {
    cursor: pointer;
    color: ~colors.app_blue;
  }

  .heading {
    font-weight: 800;
    color: ~colors.black_90;
    font-size: 15px;
  }

  .subHeading {
    margin: 6px 0px;
    font-weight: 800;
    color: ~colors.black_90;
    font-size: 13px;
  }

  .helpMessage {
    font-size: 13px;
    line-height: 16px;
  }

  .itemBlock {
    margin-top: 10px;
  }

  .displayOrderNo {
    color: ~colors.blueberry_60;
  }
}

@media (min-width: 780px) {
  .card {
    margin-top: 16px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}