.returnableItems {
  margin-top: 14px;
  background-color: ~colors.app_white;
  padding: 10px;

  .returnableItem {
    .returnableInfo {
      margin: 10px 0px;
      font-size: 13px;
      .label {
        color: ~colors.text_light_grey;
      }
    }
  }

  .heading {
    font-weight: 800;
    font-size: 15px;
    color: ~colors.black_90;
  }

  .helpMessage {
    font-size: 13px;
    line-height: 16px;

    .link {
      cursor: pointer;
      color: ~colors.app_blue;
    }
  }
}

@media (min-width: 780px) {
  .returnableItems {
    margin-top: 24px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}