.refundMode {
  margin-top: 14px;
  background-color: ~colors.app_white;
  padding: 10px;
  margin-bottom: 106px;

  .heading {
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 10px 0px;
  }
}

.mcOffer {
  padding: 10px 14px;
  background: #e6fbf7;
  margin-top: 8px;
  margin-left: 16px;
}

.offerHeading {
  font-weight: 600;
  margin-bottom: 4px;
}

.offerDesc {
  font-size: 13px;
}

.mcNote {
  font-size: 11px;
  margin-top: 10px;
  line-height: 1.6;
}

.mcNoteHead {
  color: ~colors.blueberry_50;
  font-weight: 600;
}

.myntCreditTag{
  background: ~colors.watermelon;
  color: white;
  font-weight: ~fontWeight.bold;
  border-radius: 8.5px;
  margin-left: 5px;
  padding: 1px 5px;
  line-height: 17px;
  display: inline-block;
  font-size: 12px;
}

.mcKnowMore {
  color: ~colors.app_blue;
  margin-left: 5px;
  font-weight: 600;
}

.hide {
  display: none;
}

@media (min-width: 780px) {
  .refundMode {
    margin-top: 24px;
    margin-bottom: 24px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}