.addressAccordian {
	background-color: ~colors.app_white;
	margin-bottom: 6px;
  color: ~colors.dark;
  display: block;

  .address {
    display: inline-block;
    padding: 12px;
    .nameComponent {
      margin-bottom: 8px;

      .name {
        font-size: 14px;
        font-weight: 800;
        margin-bottom: 5px;
        text-transform: capitalize;
      }

      .addressType {
        float: right;
        background-color: ~colors.black_5;
        border-radius: 10px;
        text-transform: uppercase;
        width: 50px;
        font-size: 11px;
        font-weight: 800;
        text-align: center;
        padding: 3px;
      }
    }
    .addressDetails {
      .mobile {
        margin: 10px 0px 10px 0px;
      }
    }
  }

  /***
  * Specific Styles for different origins.
  */
  &.myAddress {
    margin-bottom: 10px;
    .address {
      width: 100%;

      .addressDetails {
        .makeDefaultText {
          cursor: pointer;
          display: block;
          color: ~colors.app_green;
          margin: 15px 0px 5px 0px;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  &.returnsChangeAddress, &.exchangeChangeAddress {
    .selector {
      display: inline-block;
      width: 6%;
      vertical-align: top;
      margin: 13px 0px 0px 10px;
    }

    .address {
      width: 90%;
      margin-left: 4px;

      .addressDetails {
        .nonServiceableMessage {
          margin: 8px 0px;
          color: ~colors.black_90;
        }
        .errorMessage {
          color: ~colors.app_error;
        }
      }
      &.nonServiceable {
        color: ~colors.border_color;
      }
    }
  }

  &.changeAddress {
    .selector {
      display: inline-block;
      width: 6%;
      vertical-align: top;
      margin: 13px 0px 0px 10px;
    }

    .address {
      width: 90%;
      margin-left: 4px;

      .addressDetails {
        .nonServiceableMessage {
          margin: 8px 0px;
          color: ~colors.app_error;
          font-style: italic;
        }
      }
      &.nonServiceable {
        color: ~colors.border_color;
      }
    }
  }

  .buttons {
    width: 100%;
    display: block;
    color: ~colors.app_blue;
    border-top: 1px solid #eaeaec;
    position: relative;

    .button {
      display: inline-block;
      cursor: pointer;
      width: 50%;
      text-transform: uppercase;
      padding: 14px 14px;
      text-align: center;
      font-weight: 800;

      .buttonLoader {
        visibility: visible;
        position: absolute;
        bottom: 13px;
        top: 30%;
        right: 8%;
        height: 18px;
        width: 19px;
        color: red;
        background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
      }
    }
  }
}

.buttonDivider {
  border-left: 1px solid #eaeaec;
  width: 1px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 8px;
}


@media (min-width: 780px) {
  .addressAccordian {
    &.myAddress {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
      margin-bottom: 12px;
    }
  }
  .addressAccordian.myAddress:hover {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1)
  }
}