.bankAccountForm {
  .shimmer {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: ~colors.shimmer;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: left;
    box-sizing: border-box;
    z-index: 13;
    color: ~colors.button_text;
    overflow: hidden;

    .modalHeading {
      background-color: white;
      font-weight: 800;
      padding: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid ~colors.border_color;
    }

    .form {
      background: white;
      padding: 0 20px 20px 20px;
      border-radius: 5px;
      overflow-y: scroll;
      height: 84%;

      .accountTypesWrapper {
        margin: 22px 0px;

        .accountTypeLabel {
          color: ~colors.text_bluberry_50;
          margin-bottom: 8px;
          font-size: 15px;
        }

        .accountTypes {
          border: 1px solid ~colors.border_color;
          border-radius: 5px;

          .radioInput {
            display: inline;
            cursor: pointer;
            padding: 10px;
            border-top: 1px solid ~colors.black_5;

            &:first-child {
              border-top: 0px;
            }

            .selector {
              display: inline-block;
              width: 6%;
              vertical-align: top;
            }

            .accountType {
              position: relative;
              display: inline-block;
              width: 92%;
              margin-left: 4px;
              font-size: 15px;
              text-transform: capitalize;
            }
          }
        }

        span:nth-child(3) {
          margin-left: 48px;
        }
      }
    }

    .buttonErrorWrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: white;
      height: 65px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

      .formError {
        color: ~colors.app_error;
        border-top: 1px solid ~colors.border_color;
        padding: 5px;
      }

      .buttons {
        margin: 8px 8px 8px 8px;

        .button {
          display: inline-block;
          height: 49px;
          cursor: pointer;
          width: 50%;
          text-transform: uppercase;
          padding: 15px;
          text-align: center;
          font-weight: 800;
          border-radius: 4px;
          color: ~colors.black_70;

          &:last-child {
            color: white;
            background-color: ~colors.app_green;
          }

          &.disabled {
            background-color: ~colors.black_30;
          }

          .buttonLoader {
            visibility: visible;
            position: absolute;
            bottom: 13px;
            top: 30%;
            right: 8%;
            height: 18px;
            width: 19px;
            color: red;
            background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
          }
        }
      }
    }

    @keyframes toast {
      0% {
        bottom: 0;
      }

      10% {
        bottom: 65px;
      }
      70% {
        bottom: 65px;
      }

      100% {
        bottom: 0;
      }
      
    }

    .errorToast {
      animation: toast 5s ease 0s 1 normal forwards;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 0;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      font-size: 12px;
      font-weight: 600;
      background-color: ~colors.text_dark_orange;
    }
  }
}

.selector {
  margin-right: 8px;
}

.radioInput {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  height: 44px;
  line-height: 24px;
  text-transform: capitalize;
  font-size: 14px;
  margin-right:48px;
}

.accountType {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  top: -2px;
}

.bold input {
  font-weight: bold;
  color: ~colors.button_text !important;
}

.bold.ifsc input{
  letter-spacing: 1px;
}

.iconWrapper {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 2;
  float: right;
  top: 0px;
  right: 5px;

  &.tooltip{
    left: 0px;
  }

  &.noPadding {
    top: 0px;
  }

  .tick {
    font-size: 14px;
    position: absolute;
    left: -18px;
    bottom: -1px;
    color: ~colors.verified_green;
  }

  .verified {
    font-size: 12px;
    color: ~colors.verified_green;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .activePointsInfo {
    min-width: 75%;
    max-width: 100%;
    position: absolute;
    right: -11px;
    font-size: 12px;
    bottom: 11px;
    height: auto;

    .triangle {
      position: relative;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid black;
      float: right;
      right: 17px;
      top: -8px;
    }

    .infoText {
      background: black;
      color: white;
      padding: 12px;
      border-radius: 2px;
      line-height: 1.5;
      margin-top: -89px;
      font-size: 12px;
      bottom: 13px;
      position: absolute;
    }
  }
}

.buttonLoader {
    visibility: visible;
    position: absolute;
    bottom: 13px;
    top: 1%;
    right: 2%;
    height: 18px;
    width: 19px;
    background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
  }


@media (min-width: 780px) {
  .bankAccountForm {
    .modal {
      top: 10%;
      left: 35%;
      width: 450px;
      height: 80%;
    }
  }
}