.base {
  padding: 0px 20px;
}

.oShopping {
  display: block;
  font-family: Whitney;
  font-size: 14px !important;
  color: #282C3F !important;
  padding: 10px 0px;
  font-weight: 500;
}

.oShopping::after {
  content: ' ' !important;
}

.appLink {
	background-color: ~colors.blue_100;
  font-family: Whitney;
  font-weight: 500;
  text-align: center;
  border-radius: 3px;
  margin: 15px 0px;
  height: 45px;
}

.myntExp {
	font-family: Whitney;
	font-weight: 500;
	clear: both;
	font-size: 14px;
}

.appSection {
	font-family: Whitney;
}

.or {
	font-size: 12px;
	color: ~colors.black_50;
}

.missCall {
	color: ~colors.ultra_dark;
}

.android {
	composes: android from '../../../resources/sprites.css';
	display: inline-block;
  margin: 10px 10px 10px 0;
}

.ios {
	composes: ios from '../../../resources/sprites.css';
	display: inline-block;
  margin: 10px 10px 10px 0;
}

.windows {
	composes: windows from '../../../resources/sprites.css';
	display: inline-block;
  margin: 10px 10px 10px 0;
}

.btnText {
	top: -18px;
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-family: Whitney;
  font-weight: 500;
  color: ~colors.white;
}

.usefulLinks, .popularLinks {
  color: ~colors.black_70;
  font-size: 15px;
  line-height: 23px;
}

.usefulLinks > p, .popularLinks > p {
  font-family: Whitney;
  font-size: 14px;
  color: ~colors.ultra_dark;
  padding: 10px 0px;
  font-weight: 500;
}

.usefulLinks > a, .popularLinks > a {
	text-decoration: none;
  font-family: Whitney;
  color: ~colors.black_70;
  font-size: 15px;
}

.usefulLinks > a:after, .popularLinks > a:after {
  content: "|";
  margin-left: 3px;
  color: ~colors.black_10;
}

.socialLinks {
  color: ~colors.black_70;
  font-size: 15px;
  line-height: 23px;
}

.socialLinks > p {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: Whitney;
  font-size: 14px;
  color: ~colors.ultra_dark;
  padding: 10px 0px;
  font-weight: 500;
}

.usefulLinks > a:nth-last-child(1):after, .popularLinks > a:nth-last-child(1):after {
  content: "";
}

.contact {
	color: ~colors.black_70;
}

.copyright {
	color: ~colors.black_50;
	font-size: 15px;
}

.hideFooterData {
  display: none;
}

.flipkartCompany {
  color: ~colors.black_50;
}

.facebook {
  margin: 0px 25px 0px 0px;
  composes: footer-facebook from '../../../resources/sprites.css';
}

.twitter {
  margin: 0px 25px 0px 0px;
  composes: footer-twitter from '../../../resources/sprites.css';
}

.youtube {
	margin: 0px 25px 0px 0px;
	composes: footer-youtube from '../../../resources/sprites.css';
}

.instagram {
	margin: 0px 25px 0px 0px;
	composes: footer-instagram from '../../../resources/sprites.css';
}

.gyanContainer {
	color: ~colors.black_50;
	font-size: 14px;
	border-top: 1px solid ~colors.black_10;
  margin: 15px 0px 0px 0px;
  h1, h3 {
    font-size: 14px;
  }
}

.gyanContainer strong{
  color: ~colors.black_80 !important;
}

.gyanContainer a{
	color: ~colors.black_70;
}

.gyanContainer a:hover {
	text-decoration: underline;
}
