.productContainer {
  margin-left: 12px;
  margin-bottom: 5px;
}
  
.brandName {
  font-size: ~fonts.app_font;
}

.productName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: ~fonts.small;
  font-weight: ~fontWeight.light;
  color: ~colors.blueberry_50;
  margin: 4px 0px 15px 2px;
  height: 16px;
}
  
.productData {
  padding: 6px 5px 10px;
  overflow: hidden;
  background-color: ~colors.white;
}
  
.priceContainer {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: -18px 0px 0px 2px;
}
  
.price {
  font-weight: ~fontWeight.bold;
  color: ~colors.blueberry_80;
  font-size: ~fonts.small;
  margin-right: 5px;
}
  
.originalPrice {
  color: ~colors.blueberry_50;
  text-decoration: line-through;
  font-size: ~fonts.tiny_xl;
  margin-right: 5px;
}
  
.iconRupee {
  font-size: ~fonts.tiny_xl;
  font-weight: ~fontWeight.bold;
}
  
.discPercent {
  color: ~colors.watermelon;
  font-size: ~fonts.tiny_xl;
  white-space: nowrap;
}
  
.cardContents {
  display: flex;
  flex-wrap: wrap;
  margin-right: 12px;
  justify-content: space-around;
}