.giftCardItem {
  margin: 10px 0px;
  box-shadow: 0px 1px 3px rgba(40, 44, 63, 0.3);
  background-color: ~colors.app_white;
  margin-bottom: 10px;
  color: ~colors.black_90;

  .cardDetails {
    img{
      height: auto;
      width: 100%;
    }

    .details {
      padding: 10px;
      display: inline-block;
      .cardValue {
        font-size: 20px;
        color: ~colors.app_error;
      }

      .cardExpiry {
        text-transform: uppercase;
      }
    }
  }

  .buttons {
    width: 100%;
    border-top: 1px solid ~colors.border_color;
    background-color: white;
    display: block;
    .button {
      cursor: pointer;
      text-align: center;
      display: inline-block;
      color: ~colors.app_blue;
      width: 50%;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 800;
    }
    .button:first-child {
      border-right: 1px solid ~colors.border_color;
    }
  }
}

.myntraLogo {
  display: inline-block;
  float: right;
  margin: 18px 10px 0px 0px;
  composes: myntraLogo from './../../../../resources/sprites.css';
}

@media (min-width: 480px) {
  .cardDetails {
    border: 1px solid ~colors.border_color;
    max-width: 372px;
    margin: 10px auto;
    margin-bottom: 10px;
  }
}