.address {
  display: block;
  padding: 10px;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 0.5px solid ~colors.border_blueberry_10;

  .shippingAddress {
    display: inline-block;
    width: 93%;

    .heading {
      padding: 0px 0px 10px 0px;
      color: ~colors.blueberry_50;
    }
  }

  .rightArrow {
    display: inline-block;
    float: right;
    width: 4%;
    vertical-align: top;
    margin-top: 32px;
  }

  .button {
    cursor: pointer;
    font-weight: 800;
    display: inline-block;
    padding: 8px;
    border: 1px solid ~colors.blue_30;
    border-radius: 5px;
    color: ~colors.app_blue;
    margin-top: 10px;
    &.disabled {
      color: ~colors.black_30;
      cursor: default;
    }
  }
}

@media (min-width: 780px) {
  .rightArrow {
    width: 2%;
  }
}
