.packetCancellationInfo {
  padding: 10px;
  background-color: ~colors.notepadyellow;
  margin: 10px 0px;

  .boldText {
    font-weight: 800;
  }

  .infoText {
    font-size: 11px;
    margin: 5px 0px;
  }
}