.bankDetails {
  margin: 20px 0px;
  .loader {
    margin: 30px auto 20px auto;
    width: 44px;
    height: 10px;
    display: block;
    padding: 10px 0px 10px 0px;
    background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
  }

  .noAccountButton {
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    padding: 8px;
    border: 1px solid ~colors.blue_30;
    border-radius: 5px;
    color: ~colors.app_blue;
  }

  .headingComponent {
    display: block;
    height: 26px;
    .heading {
      display: inline-block;
      font-weight: 800;
      font-size: 14px;
      margin-top: 4px;
    }
    .changeAccountButton {
      display: inline-block;
      padding: 5px 8px;
      float: right;
      cursor: pointer;
      border: 1px solid ~colors.blue_30;
      border-radius: 5px;
      font-size: 12px;
      font-weight: 800;
      color: ~colors.app_blue;
    }
  }

  .row {
    margin: 3px 0px;
    .label {
      display: inline-block;
      width: 40%;
    }
    .info {
      display: inline-block;
      width: 60%;
    }
  }
}