.block {
  border-top: 1px solid #eaeaec;
}

.container {
  padding: 12px 0 12px 12px;
}

.headerText {
  margin-bottom: 10px;
  font-weight: 500;
  color: ~colors.text_blueberry_70;
}

.allProfiles {
  overflow: auto;
  white-space: nowrap;
  min-height: 40px;
}

.profile {
  border: 0.5px solid ~colors.black_30;
  border-radius: 25px;
  display: inline-block;
  padding: 8px 10px;
  color: #3e4152;
  font-size: 15px;  
  font-weight: 500;
  width: 75px;
  text-align: center;
  margin-right: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.selected {
    color: ~colors.melon;
    border-color: ~colors.melon;
  }
}

.boughtforProfileText {
  padding: 12px;
  color: ~colors.text_blueberry_70;
}

.moreDetails {
  margin-top: 10px;
  font-size: 13px;
  color: ~colors.blueberry_60;
}

.addDetails {
  margin-top: 5px;
  font-weight: 500;
  color: ~colors.melon;
}

.genderBlock {
  margin-top: 8px;
}

.genderHeader {
  margin-bottom: 10px;
  font-size: 15px;
}

.genderLabel {
  margin-right: 24px;
}

.radioText {
  font-size: 15px;
  color: ~colors.text_blueberry;
}

.autoSelectGender {
  color: #94969f;
}

.autoSelectText {
  margin-left: 7px;
  font-style: italic;
}

.disabled {
  border-color: ~colors.border_color;
  color: ~colors.border_color;
}