.loader {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 44px;
  height: 10px;
  display: block;
  padding: 10px 0px 10px 0px;
  background: url(https://cdn.myntassets.com/checkout/images/loader.gif) no-repeat;
}

.page {
}

.component {
  background-color: ~colors.app_white;
}

.card {
  position: fixed;
  text-align: left;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.image {
  width: 100%;
  min-height: 450px;
  display: block;
}

.giftCardActions {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px 0px;
  background-color: ~colors.app_white;
  -moz-box-shadow: 0 -5px 5px 0px ~colors.black_20;
  -webkit-box-shadow: 0 -5px 6px 0px ~colors.black_20;
  box-shadow: 0 0px 6px 0px ~colors.black_20;
}

.messageWrapper {
  margin: 8px 20px;
  display: inline-block;
}

.message {
  display: inline-block;
  vertical-align: top;
  width: 65%;
  margin: 12px 0px 0px 0px;
  font-size: 16px;
  color: ~colors.black_90;
  text-align: center;
  line-height: 22px;
}

.leftImage {
  display: inline-block;
  max-width: 25%;
  composes: starsImage from './../../resources/sprites.css';
} 

.rightImage {
  display: inline-block;
  float: right;
  transform: scaleX(-1);
  max-width: 25%;
  composes: starsImage from './../../resources/sprites.css';
}

.buttonWrapper {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.socialButton {
  display:inline-block;
  width: 43%;
  border: 1px solid ~colors.border_color;
  border-radius: 4px;
  color: ~colors.text_bluberry_50;
  font-weight: 600;
  font-size: 12px;
  margin: 10px;
  text-align: center;
  padding: 4px 0px;
  margin: 5px;
  vertical-align: middle;
}

.socialImage {
  display: inline-block;
  transform: scale(0.6);
  margin: 3px 0px 0px 0px;
  composes: socialImage from './../../resources/sprites.css';
}

.buttonName {
  display: inline-block;
  vertical-align: top;
  margin: 11px 0px 0px 0px;
  color: ~colors.button_text;
}

@media (min-width: 360px) {
  .message {
    width: 70%;
  }
}

@media (min-width: 480px) {
  .page {
    background: #feedf6;
    background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
    background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
  }
  .loader {
    position: initial;
    margin: 290px auto;
  }
  .giftCardActions {
    position: relative;
    top: 0px;
  }
  .page {
    text-align: center;
    padding: 20px;
    background-color: ~colors.notepadyellow;
  }
  .component {
    margin: 0px auto;
    max-width: 400px;
    box-shadow: 0px 2px 15px rgba(0,0,0,.1);
    overflow: hidden;
  }
  .message {
    margin: px 0px;
  }
}
