.card {
  background-color: ~colors.app_white;
  color: ~colors.black;
  box-sizing: border-box;

  .packageDetails {
    padding: 15px 10px;
    margin-bottom: 10px;

    .heading {
      font-weight: 800;
      margin: 10px 0px;
    }
  }
}

@media (min-width: 780px) {
  .card {
    border-radius: 0px;
    box-shadow: 0 0 4px rgba(40,44,63,0.08);
    border: 1px solid ~colors.black_10;
  }
}
