@import 'normalize';

html {
  height: 100%;
}

body {
  width:100%;
  height: 100%;
  overflow-x:hidden;
  font-family: 'Whitney' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mountRoot iframe {
  display: block;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.base {
  color: inherit;
  margin-top: 5px;
}

@media all and (min-width: 980px) {
  .base {
    margin-top: 50px;
  }
}

:global(.mobile) {
  height: 100%;
}

:global(.eors-pr-timer){
  z-index: 1;
}

:global(.full-height) {
  height: 100%;

  &.white {
    background-color: ~colors.white;
  }
}

:global(.no-scroll-background) {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
