.card {
  margin-top: 8px;
  background-color: ~colors.app_white;
  padding: 10px;

  .heading {
    font-weight: 800;
    font-size: 15px;
    color: ~colors.black_90;
  }
}

@media (min-width: 780px) {
  .card {
    margin-top: 16px;
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}