
.button {
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  margin: 20px 10px;
  font-weight: 800;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid ~colors.app_blue;
  color: ~colors.app_blue;
}

@media (min-width: 780px) {
  .button {
    padding: 20px;
    margin: 40px 50px;
  }
}