.helpcenter {
    padding: 12px 0px 12px 0px;
    display: flex;
    height: 70px;
    flex-direction: row;
    background-image: linear-gradient(to right, ~colors.very_light_blue, ~colors.off_white);
}  
.helpcenterIcon {
    width: 55px;
    padding: 5px 8px 5px 12px;
}

.helpcenterArrowIcon {
    width: 35px;
    padding: 15px 15px 15px 10px;
}

.helpcenterTitle {
    font-family: Whitney;
    color: ~colors.black;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
}

.helpcenterDesc {
    font-family: Whitney;
    font-size: 12px;
}