.buttons {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  background-color: white;
  box-shadow: 0px 1px 5px 5px rgba(40, 44, 63, 0.07);

  .button {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-weight: 800;

    .buttonLoader {
      visibility: visible;
      margin-left: 14px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      height: 18px;
      width: 19px;
      color: red;
      background: url(https://secureassets.myntassets.com/assets/images/2017/4/4/11491292015362-loader.gif) no-repeat;
    }
  }

  &.android {
    position: fixed;
    .buttonLoader {
      position: absolute;
      bottom: 13px;
      top: 30%;
      right: 8%;
    }
  }
}

.button:last-child {
  border-right: 1px solid ~colors.border_color;
  color: white;
  background-color: ~colors.melon;
  &.disabled {
    background: ~colors.black_30;
  }
}

.confirmationCheckBox {
  margin: 10px 0px 60px 0px;
  background-color: ~colors.app_white;
  box-shadow: 0px 1px 3px rgba(40, 44, 63, 0.3);
  padding: 10px;
}

.iphoneBottomMargin {
  clear: both;
  width: 100%;
  height: 1px;
}

.hide {
  display:none;
}

.actionError {
  padding: 5px 10px;
  color: red;
  margin-bottom: 50px;
}

.card {
  margin-bottom: 106px;
}

@media (min-width:780px) {

  .card{
    box-shadow: 0px 0.5px 2.5px 2px rgba(40, 44, 63, 0.05);
    margin-bottom: 24px;
  }

  .buttons {
    box-shadow: 0px 0px 0px 0px;
    position: inherit; 
    width: 60%;
    .button {
      width: 48%;
      border: 1px solid ~colors.border_color;
      border-radius: 4px;
    }
    .button:last-child {
      border: 0px;
      margin-left: 10px;
    }
  }

  .actionError {
    padding: 5px 10px;
    color: red;
    margin-bottom: 0;
  }
}