.order-details {
  background-color: ~colors.app_white;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 14px;

  .block {
    padding: 6px 12px;
    border-bottom: 0.5px solid ~colors.border_blueberry_10;

    &:last-child {
      border-bottom: 0px;
    }

    .label {
      vertical-align: top;
      color: ~colors.blueberry_50;
      line-height: 21px;
    }

    .value {
     color:  ~colors.text_blueberry;
    }

    .heading {
      padding: 0px 0px 10px 0px;
      color: ~colors.blueberry_50;
    }

    .price {
      font-weight: 800;
      color: ~colors.black_90;
      vertical-align: top;
      margin-right: 10px;
    }
  }
}

@media (min-width: 780px) {
  .order-details {
    margin-bottom: 0;
  }
}