.order {
  margin-top: 20px;
}

.order:first-child {
  margin-top: 20px;
}

.orderInfo {
  padding: 5px 5px 5px 12px;
}

.orderNumber {
  font-weight: 600;
  font-size: 13px;
  color: ~colors.black_90;
}


.orderDetailsButton {
  cursor: pointer;
  float: right;
  color: ~colors.app_blue;
  font-weight: 800;
}

@media (max-width: 320px) {
  .orderInfo {
    font-size: 12px;
  }
}